<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Ahorro</title>

</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}
    <!--Ahorro Hipódromo -->
    <section class="mb-5">
        <div class="flex justify-between">
            <div>
                <div class="flex items-center w-[118px] ml-11 mt-20">
                    <hr class=" flex-1 border-t-2 border-black mr-4">
                    <p class="font-bold">AHORRO</p>
                </div>

                <div class="ml-24 mt-5 ">
                    <h1 class="text-5xl flex-1 font-bold pb-[10px]">Ahorro Hipódromo</h1>
                    <p class="w-[676px] h-[78px]">Con Ahorro Hipódromo obtienes una tasa de interés anual del 2.50%,
                        la cantidad de
                        ahorro
                        mensual la determinas tú mismo y es uno de los criterios principales para valorar tu buen
                        cumplimiento como Socio.</p>
                </div>
            </div>

            <div class="mt-20 mr-24">
                <img src="/images/Ahorro/Ahorro.png" alt="" class="">
            </div>
        </div>
    </section>

    <!--Tipos de ahorro -->
    <section class="bg-CH font-Roboto">
        <div class="flex justify-center">
            <h1 class="text-4xl text-white mt-5 font-bold">Tipos de ahorro Hipodromo</h1>
        </div>

        <div class="grid grid-cols-3 gap-4 justify-center items-center mr-[100px] ml-[100px] ">
            <!-- Elemento 1 -->
            <div class="p-4 flex items-center">
                <div class=" w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/ahorroh" class="text-xl text-white font-semibold">Ahorro Hipódromo</a>
                    <p class="text-GR">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit
                        possimus facilis porro ipsa vel expedita harum pariatur illo. Veritatis suscipit cumque voluptas
                        ratione atque, neque nemo animi possimus beatae.</p>
                </div>
            </div>

            <!-- Elemento 2 -->
            <div class="p-4 flex items-center">
                <div class=" w-[40px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                  
                    <a href="/ahorrojr" class="text-xl text-white font-semibold">Cuenta Junior</a>
                    <p class="text-GR ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                        enim in eros.</p>
                </div>
            </div>

            <!-- Elemento 3 -->
            <div class="p-4 flex items-center">
                <div class="w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                    <a href="/depositoh" class="text-xl text-white font-semibold">Deposito a la Vista</a>
                    <p class="text-GR">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit
                        possimus facilis porro ipsa vel expedita harum pariatur illo. Veritatis suscipit cumque voluptas
                        ratione atque, neque nemo animi possimus beatae.</p>
                </div>
            </div>

            <!-- Elemento 4 -->
            <div class="p-4 flex items-center">
                <div class=" w-[40px] mr-4 mb-[35px]">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/navih" class="text-xl text-white font-semibold">NaviAhorro</a>
                    <p class="text-GR ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                        enim in eros.</p>
                </div>
            </div>
            <!-- Elemento 5 -->
            <div class="p-4 flex items-center mb-[35px]">
                <div class=" w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                    <a href="/plazo" class="text-xl text-white font-semibold">Plazos Fijos RendiCrece</a>
                    <p class="text-GR">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit
                        possimus facilis porro ipsa vel expedita harum pariatur illo. Veritatis suscipit cumque voluptas
                        ratione atque, neque nemo animi possimus beatae.</p>
                </div>
            </div>

            <!-- Elemento 6-->
            <div class="p-4 flex items-center mb-[35px]">
                <div class=" w-[40px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/debih" class="text-xl text-white font-semibold">Debi-Hipódromo</a>
                    <p class="text-GR ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                        enim in eros.</p>
                </div>
            </div>

        </div>
    </section>

    <!-- Beneficios de ahorro -->

    <section class="mb-5 mt-5">
        <div class="text-4xl flex justify-center mt-5 mb-5">
            <h1 class="font-bold">Beneficios de tu ahorro Hipódromo</h1>

        </div>
        <div class="flex justify-around">
            <div class="grid grid-cols-3 gap-[13rem] justify-center items-center ">
                <!-- Card 1-->
                <div class="max-w-sm p-6 bg-CH rounded-lg shadow h-[362px] flex flex-col justify-between w-[336px]" >
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Tasas de Intereses</h5>
                    </a>
                    <p class="mb-3 font-normal text-GR ">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                        viverra
                        ornare, eros dolor </p>

                    <a href="#"
                        class="inline-flex items-center  px-3 py-2 text-sm font-medium text-center rounded-lg bg-white w-[156px] justify-center">
                        Ver más
                    </a>
                </div>
                <!-- Card 2-->
                <div class="max-w-sm p-6 bg-CH rounded-lg shadow h-[362px] flex flex-col justify-between w-[336px]">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Ganancias</h5>
                    </a>
                    <p class="mb-3 font-normal text-GR ">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                        viverra
                        ornare, eros dolor </p>

                    <a href="#"
                        class="inline-flex items-center  px-3 py-2 text-sm font-medium text-center rounded-lg bg-white w-[156px] justify-center">
                        Ver más
                    </a>
                </div>
                <!-- Card 3-->
                <div class="max-w-sm p-6 bg-CH rounded-lg shadow h-[362px] flex flex-col justify-between w-[336px]">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Plazos</h5>
                    </a>
                    <p class="mb-3 font-normal text-GR ">Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                        viverra
                        ornare, eros dolor </p>

                    <a href="#"
                        class="inline-flex items-center  px-3 py-2 text-sm font-medium text-center rounded-lg bg-white w-[156px] justify-center">
                        Ver más
                    </a>
                </div>
            </div>
        </div>
        <!--¿Qué esperas? -->
    </section>
    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <div class="bg-white rounded-lg shadow-md p-8  bg-cover w-1230px h-384px text-center text-white items-center"
                style="background-image: url('/images/Socios.jpg');">

                <p class="text-5xl mt-5">¿Qué esperas? <br>Conviertete en socio Caja <br>Hipódromo</p>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>