<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>API</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroH/AhorroH.png" alt="ahorrojr">
        </div>
    </section>

    <section>
        <div class="flex justify-center w-[633px] text-center mx-auto ">
            <h1 class="font-bold text-[60px]">Solicitud a la API</h1>
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="flex items-center w-[150px] mr-[1260px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>


    <section class="mt-5 mb-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px] font-bold">¿Qué son las API?</h1>
                    <p class="pt-[50px]">Un API o Application Programming Interface es el punto de entrada donde un
                        sistema recibe peticiones para ejecutar una tarea previamente programada, Datos financieros
                        abiertos de Caja Hipódromo S.C. de A.P. de R.L. de C.V. cuenta con una API con la que podrás
                        consultar información acerca de productos y servicios que se ofrece al público en general, la
                        ubicación de oficinas y sucursales, cajeros automáticos u otros puntos de acceso a los productos
                        y servicios, entre otros.</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>


    <section class="mt-5 mb-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>

                <div class="w-[760px] pl-14">
                    <h1 class="text-[50px] font-bold text-center">Procedimiento</h1>
                    <div class="text-left">
                        <li>Deberá registrarse llenando el siguiente formulario “correctamente”, indicando Nombre
                            completo;
                            Correo electrónico del usuario; Empresa solicitante de datos; Puesto que desempeña;
                            Describiendo
                            su solicitud incluido el uso que dará al acceso, manifestando que cumplirá con todo lo
                            relacionado al aviso de privacidad de la institución, cumplimiento con la confidencialidad
                            de la
                            información y en apego a los términos y condiciones.</li>
                        <li>Aceptar los Términos y Condiciones</li>
                        <li>Aceptar el Aviso de privacidad</li>
                        <p>Caja Hipódromo S.C. de A.P. de R.L. de C.V. dará respuesta a su petición enviando la URL y
                            Token
                            de acceso al correo electrónico de contacto manifestado, ello a más tardar el siguiente día
                            hábil, en los horarios de lunes a viernes de 9:00 AM a 5:00 PM y sábado de 9:00 AM a 2:00
                            PM.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="flex justify-center pb-5">
        <div class="w-[532px] h-[987px] relative">
            <div class="w-[532px] h-[987px] left-0 top-0 absolute bg-rose-800 rounded-[15px]"></div>
            <div
                class="w-[379px] left-[76px] top-[29px] absolute text-center text-white text-2xl font-bold font-['Roboto'] leading-[28.80px]">
                Envíanos la solicitud a acceso a la API llenando el formulario.</div>
            <div class="w-[421px] h-[50px] left-[55px] top-[149px] absolute bg-white rounded-md shadow"></div>
            <div class="left-[63px] top-[119px] absolute text-white text-base font-normal font-['Poppins']">Nombre
                Completo</div>
            <div
                class="w-6 h-[23px] left-[74px] top-[159px] absolute opacity-50 text-rose-800 text-base font-normal font-['Poppins'] tracking-wide">
                ...</div>
            <div class="w-[421px] h-[50px] left-[55px] top-[250px] absolute bg-white rounded-md shadow"></div>
            <div class="left-[63px] top-[220px] absolute text-white text-base font-normal font-['Poppins']">Correo
                electrónico del usuario</div>
            <div
                class="w-6 h-[23px] left-[74px] top-[271px] absolute opacity-50 text-rose-800 text-base font-normal font-['Poppins'] tracking-wide">
                ...</div>
            <div class="w-[421px] h-[50px] left-[55px] top-[351px] absolute bg-white rounded-md shadow"></div>
            <div class="left-[63px] top-[321px] absolute text-white text-base font-normal font-['Poppins']">Empresa
                solicitante de datos</div>
            <div
                class="w-6 h-[23px] left-[74px] top-[383px] absolute opacity-50 text-rose-800 text-base font-normal font-['Poppins'] tracking-wide">
                ...</div>
            <div class="w-[421px] h-[50px] left-[55px] top-[457px] absolute bg-white rounded-md shadow"></div>
            <div
                class="w-[421px] h-[50px] left-[55px] top-[894px] absolute bg-white rounded-md shadow border-2 border-gray-800">
            </div>
            <div class="left-[63px] top-[427px] absolute text-white text-base font-normal font-['Poppins']">Puesto que
                desempeña</div>
            <div
                class="w-6 h-[23px] left-[74px] top-[495px] absolute opacity-50 text-rose-800 text-base font-normal font-['Poppins'] tracking-wide">
                ...</div>
            <div class="w-[421px] h-[141px] left-[55px] top-[569px] absolute bg-white rounded-md shadow"></div>
            <div class="left-[63px] top-[539px] absolute text-white text-base font-normal font-['Poppins']">Puesto que
                desempeña</div>
            <div class="left-[86px] top-[758px] absolute text-white text-base font-normal font-['Poppins']">Acepto los
                Términos y Condiciones</div>
            <div class="left-[63px] top-[731px] absolute text-white text-base font-medium font-['Poppins'] underline">
                Leer Términos y Condiciones</div>
            <div
                class="w-6 h-[23px] left-[74px] top-[607px] absolute opacity-50 text-rose-800 text-base font-normal font-['Poppins'] tracking-wide">
                ...</div>
            <div
                class="w-[15px] h-[15px] left-[63px] top-[764px] absolute bg-white rounded-full border border-gray-800">
            </div>
            <div class="left-[86px] top-[835px] absolute text-white text-base font-normal font-['Poppins']">Acepto los
                Términos y Condiciones</div>
            <div class="left-[63px] top-[808px] absolute text-white text-base font-medium font-['Poppins'] underline">
                Leer Términos y Condiciones</div>
            <div
                class="w-[15px] h-[15px] left-[63px] top-[841px] absolute bg-white rounded-full border border-gray-800">
            </div>
            <div class="w-[9px] h-[9px] left-[66px] top-[844px] absolute bg-rose-800 rounded-full"></div>
            <div class="left-[70px] top-[908px] absolute opacity-70 text-gray-800 text-sm font-normal font-['Poppins']">
                ENVÍO Y ACEPTO LOS TÉRMINOS DEL AVISO DE PRIVACIDAD</div>
        </div>
    </section>


    {{>footer}}

</body>

</html>