<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Apoyo Funerario</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroH/AhorroH.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Apoyo Funerario -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px] font-bold">Apoyo Funerario</h1>
                    <p class="pt-[50px]">Estimado Socio. Te recordamos que cuentas con un Apoyo Funerario hasta por la
                        cantidad de $17,000.00 (Diecisiete mil pesos 00/100 M.N.) incluyendo el I.V.A., el cuál podrá
                        ser contratado en el grupo funerario de la elección de sus familiares.</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="flex items-center w-[150px] mr-[1260px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="font-bold">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="flex flex-col justify-center font-bold text-center">
            <h1 class="text-[50px] w-[1188px] mx-auto">Serán acreedores del Apoyo Funerario, todos los Socios que
                cumplan con lo siguiente:
            </h1>
            <p class="font-bold text-zinc-600 text-opacity-70 text-lg w-[838px] mx-auto  p-[30px]"> Para el otorgamiento
                de dicho apoyo
                se tomarán en cuenta 3 factores, a cada uno de estos se les asigna un porcentaje, el cual en suma nos
                dará el 100% referente a los $17,000.00 del monto del apoyo.</p>
            <p class="font-bold  text-zinc-600 text-opacity-70 text-lg w-[838px] mx-auto "> Los factores de medición con
                su respectivo
                porcentaje son los siguientes:</p>
        </div>

        <div class="flex justify-center">
            <img class="pt-5" src="/images/Beneficios/funerarios.png" alt="">
        </div>

        <div class="flex flex-col justify-center text-center pt-5">
            <p class="font-bold text-zinc-600 text-opacity-70 text-lg w-[838px] mx-auto">Si algún Socio llegara a
                presentar una
                afectación directa, ya sea económica o de salud, podrá presentar
                la evidencia correspondiente, la cual se podrá tomar o no en cuenta para el otorgamiento del porcentaje
                del factor afectado, dicha evidencia se tendrá que anexar al expediente de solicitud de Apoyo Funerario.
            </p>
            <p class="font-bold text-zinc-600 text-opacity-70 text-lg pt-5 pb-5 w-[838px] mx-auto">El monto a otorgar de
                Apoyo Funerario al Socio, será del 100% el cual es de $17,000.00 (Diecisiete mil
                pesos 00/100 M.N.) siempre y cuando el Socio cumpla con los tres factores que se mencionan en la tabla
                anterior, en los casos donde el Socio no cumpla con todos los factores establecidos, se le otorgará el
                monto correspondiente al total de la suma que den los factores con los que cumple.</p>
        </div>

        <div class="flex flex-col justify-center text-center">
            <h2 class="text-[30px] font-bold w-[1188px] mx-auto">El Apoyo Funerario se otorgará a Ahorradores Menores que cumplan
                con lo siguiente:</h2>
            <li class="w-[838px] font-bold text-[18px] text-zinc-600 text-opacity-70 mx-auto pt-5">Mínimo un año de antigüedad como Ahorrador Menor. En los casos donde el Ahorrador Menor no cuente con
                esta antigüedad, será acreedor únicamente al 50% del monto de Apoyo Funerario, el cual equivale a
                $8,500.00 (Ocho Mil Quinientos pesos 00/100 M.N.).</li>

            <img class="flex justify-center w-[1280px] mx-auto pt-5" src="/images/Beneficios/funerarios2.png" alt="">
            
            <h2 class="text-[30px] font-bold w-[1188px] mx-auto pt-5">Además de la factura correspondiente, para la entrega del apoyo funerario, los familiares del Socio y/o Ahorrador Menor fallecido deberán presentar lo siguiente:</h2>
            <div class="w-[838px] font-bold text-[18px] text-zinc-600 text-opacity-70 mx-auto pt-5 text-left ">
                <li>Copia del Acta o Certificado de Defunción.</li>
                <li>Constancia expedida por la funeraria que bridará el servicio.</li>
                <li>Copia de la Credencial de Socio de la persona fallecida o constancia que lo acredita como Socio expedida por la Sociedad.</li>
                <li>Identificación Oficial vigente de la persona que solicita la entrega del Apoyo.</li>
            </div>

            <img class="flex justify-center w-[1280px] mx-auto pt-5 pb-5" src="/images/Beneficios/funerarios3.png" alt="">
        </div>

    </section>

    {{>footer}}
</body>

</html>