<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>PROGRAMA DE APOYO A SOCIOS Y AHORRADORES MENORES CON DISCAPACIDAD</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroH/AhorroH.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[38px] font-bold ">Programa de apoyo a socios y ahorradores menores con discapacidad
                    </h1>
                    <p class="pt-[50px] w-[591px]">Ahora con Caja Hipódromo, los Socios y Ahorradores Menores con
                        discapacidad,
                        podrán tramitar un apoyo económico hasta por un monto de $3,000.00 (Tres mil pesos 00/100 M.N.)
                        anuales, para gastos médicos, compra de medicamentos y/o implementos ortopédicos, realizados en
                        el transcurso del año, siempre y cuando, sean destinados para su bienestar y uso personal.</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="flex justify-center w-[696px] mx-auto">
            <h1 class="text-center font-bold text-[50px] my-5">Apoyo a Socios y Ahorradores Menores con Discapacidad
            </h1>
        </div>
    </section>

    <section>
        <div class="flex flex-col justify-center w-[1304px] mx-auto">
            <img src="/images/Beneficios/discapacitados.png" alt="">
            <p class="text-zinc-600 text-opacity-70 font-bold w-[838px] mx-auto py-10">Para mayores informes, consulte con nuestros asesores en la sucursal de su preferencia o en nuestro sitio
                oficial: www.cajahipodromo.com.mx
                O en nuestra página oficial de Facebook: Caja Hipódromo Autorizada.</p>
        </div>


    </section>

    {{>footer}}

</body>

</html>