<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Asóciate</title>

</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}
    <!--Asóciate -->
    <section class="mb-5">
        <div class="flex justify-between">
            <div>
                <div class="flex items-center w-[118px] ml-11 mt-20">
                    <hr class=" flex-1 border-t-2 border-black mr-4">
                    <p class="font-bold">ASÓCIATE</p>
                </div>

                <div class="ml-24 mt-5 ">
                    <h1 class="text-5xl flex-1 font-bold">¿Porqué unirte a nosotros?</h1>
                    <p class="w-[618.75px] h-[234px] pt-10 font-normal">¿Estás buscando un banco que te ofrezca créditos con bajo
                        interés, de
                        acuerdo a tus haberes y con el beneficio de ahorro compartido entre todos los socios?
                        En Caja Hipódromo, estamos comprometidos con brindarte estas oportunidades y más. Valoramos a
                        las personas por quienes son, no por su dinero, y estamos comprometidos en educar en la
                        responsabilidad y sentido social.
                        Además, te ofrecemos ayuda para obtener verdadero provecho del crédito y promociones culturales
                        y deportivas para ti como socio. Únete a nuestra comunidad de socios y experimenta la diferencia
                        en el trato y servicio que te ofrecemos. ¡Te esperamos!</p>
                </div>
            </div>

            <div class="mt-20 mr-24">
                <img src="/images/Asociate/Asociate1.png" alt="" class="">
            </div>
        </div>
    </section>

    <!--Tipos de ahorro -->
    <section class="bg-CH font-Roboto">
        <div class="flex justify-center">
            <h1 class="text-4xl text-white mt-5 font-bold">Requisitos de asociación</h1>
        </div>

        <div class="grid grid-cols-3 gap-4 justify-center items-center mr-[100px] ml-[100px] ">
            <!-- Elemento 1 -->
            <div class="p-4 flex items-center">
                <div class=" w-[60px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a class="text-xl text-white font-semibold">Acta de nacimiento</a>
                    <p class="text-GR">Puedes obtener tu acta de nacimiento a través del siguiente link:
                        https://www.gob.mx/ActaNacimiento/</p>
                </div>
            </div>

            <!-- Elemento 2 -->
            <div class="p-4 flex items-center">
                <div class=" w-[47px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>

                    <a href="/ahorrojr" class="text-xl text-white font-semibold">Comprobante de domicilio</a>
                    <p class="text-GR ">El comprobante puede ser un recibo del pago de luz, agua, internet, renta, etc.
                        No mayor a 3 meses de antigüedad.</p>
                </div>
            </div>

            <!-- Elemento 3 -->
            <div class="p-4 flex items-center">
                <div class="w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                    <a href="/depositoh" class="text-xl text-white font-semibold">Credencial de elector</a>
                    <p class="text-GR">Puede ser trámitada o actualizada en cualquier módulo del INE local. La
                        credencial debe ser vigente y coincidir con el domicilio del comprobante.</p>
                </div>
            </div>

            <!-- Elemento 4 -->
            <div class="p-4 flex items-center">
                <div class=" w-[40px] mr-4 mb-[35px]">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/navih" class="text-xl text-white font-semibold">CURP</a>
                    <p class="text-GR ">Pudes obtener tu CURP a tráves del siguiente link: https://www.gob.mx/curp/</p>
                </div>
            </div>
            <!-- Elemento 5 -->
            <div class="p-4 flex items-center mb-[35px]">
                <div class=" w-[50px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                    <h2 class="text-xl text-white font-semibold">RFC</h2>
                    <p class="text-GR">Para obtener tu RFC debes acceder al siguiente link y seguir los pasos:
                        https://www.sat.gob.mx/personas/tramites-del-rfc</p>
                </div>
            </div>

            <!-- Elemento 6-->
            <div class="p-4 flex items-center mb-[35px]">
                <div class=" w-[95px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/debih" class="text-xl text-white font-semibold">Cédula de identificación fiscal</a>
                    <p class="text-GR ">Para obtener, repetir el mismo proceso que con el RFC:
                        https://www.sat.gob.mx/aplicacion/28889/obten-tu-cedula-de-identificacion-fiscal</p>
                </div>
            </div>

        </div>
    </section>

    <!-- Beneficios de ahorro -->

    <section class="mb-5 mt-5">
        <div class="text-center">
            <p class="font-semibold">ESCUCHA A NUESTROS SOCIOS</p>
            <h1 class="text-4xl font-bold">Beneficios de tu ahorro Hipódromo</h1>
        </div>

        <div class="flex justify-around mt-5">
            <div class="grid grid-cols-3 gap-[13rem] justify-center items-center ">
                <!-- Card 1-->
                <div class="max-w-sm p-6 bg-CH rounded-lg shadow h-[421px] flex flex-col justify-between w-[411px]" style="background-image: url('images/Asociate/Didi.png');" >
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Didier <br> Empresario</h5>
                    </a>
                    <p class="mb-3 font-normal text-white ">“Como joven empresario, he tenido la oportunidad de utilizar los servicios de Caja Hipódromo en varias ocasiones y siempre he quedado satisfecho.....” </p>

                    <a href="#"
                        class="inline-flex items-center  px-3 py-2 text-sm font-medium text-center rounded-lg bg-white w-[156px] justify-center">
                        Ver más
                    </a>
                </div>
                <!-- Card 2-->
                <div class="max-w-sm p-6 bg-CH rounded-lg shadow h-[421px] flex flex-col justify-between w-[411px]" style="background-image: url('images/Asociate/Guadalupe.png');">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Gudalalupe <br> Madre de familia</h5>
                    </a>
                    <p class="mb-3 font-normal text-white ">“Como madre de familia, elegí Caja Hipódromo para abrir una cuenta de ahorros para mí y mis hijos, y no podría estar más satisfecha con la elección...” </p>

                    <a href="#"
                        class="inline-flex items-center  px-3 py-2 text-sm font-medium text-center rounded-lg bg-white w-[156px] justify-center">
                        Ver más
                    </a>
                </div>
                <!-- Card 3-->
                <div class="max-w-sm p-6 bg-CH rounded-lg shadow h-[421px] flex flex-col justify-between w-[411px]" style="background-image: url('images/Asociate/Samantha.png');">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Samantha <br> Estudiante</h5>
                    </a>
                    <p class="mb-3 font-normal text-white "> “Como estudiante, necesitaba un préstamo para poder comprar un carro y fue entonces cuando conocí a Caja Hipódromo. Me sorprendió gratamente la facilidad y...” </p>

                    <a href="#"
                        class="inline-flex items-center  px-3 py-2 text-sm font-medium text-center rounded-lg bg-white w-[156px] justify-center">
                        Ver más
                    </a>
                </div>
            </div>
        </div>


        <!--¿Qué esperas? -->
    </section>
    <section class="mt-20">
        <div class="flex  justify-center mb-20">
            <div class="bg-white rounded-lg shadow-md p-8  bg-cover w-1230px h-384px text-center text-white items-center"
                style="background-image: url('/images/FOOCOP.png');">

                <p class="text-5xl mt-5">¡Recuerda! Tus haberes están protegidos por el FOCOOP hasta por 25,000 UDIS.
                </p>

                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>