<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>AutoHipódromo</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/Creditos/Creditos12.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px]">AutoHipódromo</h1>
                    <p class="pt-[50px] w-[700px]">Crédito desde $50,000.01 hasta $700,000.00 para la adquisición de
                        vehículo nuevo o usado en óptimas condiciones (modelo máximo: ocho años anteriores al de la
                        solicitud de crédito), para pagar en 2 o hasta 72 meses.
                    </p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Ganancias Anual -->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="bg-CH w-[898px] h-[304px] rounded-lg flex flex-col">
                <div class="text-center text-white">
                    <h1 class="text-[56px] p-[40px] font-bold">CAT Promedio 13.1% “SIN IVA”</h1>
                    <hr class="w-[180px]  bg-white mx-auto">
                    <p class="h-[57px] w-[880px] pt-[60px] text-[14px] font-normal">“El Costo Anual Total de financiamiento
                        expresado en términos
                        porcentuales anuales que, para fines informativos y de comparación, incorpora la totalidad de
                        los costos y gastos inherentes a los créditos”. Calculado al 09 de octubre de 2023.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex items-center">
            <div class="flex items-center w-[150px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <!-- Primera sección-->
        <div class="flex justify-center ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start w-[50px]">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Requisitos:</p>
                    </div>
                    <div>
                        <div>
                            <li>Parte Social completa (exclusivo para Socios)</li>
                            <li>Edad mínima 18 años en adelante</li>
                            <li>Sin antigüedad como Socio</li>
                            <li>Mínimo $1,000.00 en Ahorro Hipódromo para realizar el trámite</li>
                            <li>Cubrir un seguro contra accidentes con cobertura amplia por 3 años en el caso de un
                                plazo máximo de 60 meses y a 4 años en el plazo entre los 61 y 72 meses</li>
                            <li>Documentación Complementaria:
                                <ul>
                                    <li>- Cotización de la unidad a adquirir o copia de la factura</li>
                                    <li>- Cotización del seguro en su caso</li>
                                    <li>- Póliza de seguro</li>
                                    <li>- Factura de vehículo con endoso a favor de la Sociedad</li>
                                    <li>- Constancia de Situación Fiscal</li>
                                    <li>- Estados de cuenta bancarios</li>
                                    <li>- Declaraciones de impuestos</li>
                                </ul>
                            </li>
                            <li>Original y copia de:
                                <ul>
                                    <li>- Identificación oficial vigente</li>
                                    <li>- Comprobante de domicilio (Credencial para votar vigente, luz, agua o teléfono
                                        no
                                        mayor a tres meses de su fecha de emisión; en caso de que no se cuente con algún
                                        servicio contratado, se podrá aceptar predial vigente y escritura o título de
                                        propiedad)</li>
                                    <li>- Comprobante de ingresos reciente (mínimo un mes)</li>
                                </ul>
                            </li>
                            <li>Obligado Solidario o Aval (De acuerdo a su calificación de Socio)</li>
                            <h2>Requisitos: Obligado Solidario o Aval</h2>
                            <li>
                                <a
                                    href="https://www.cajahipodromo.com.mx/wp-content/uploads/2023/03/AUTORIZACION-PARA-SOLICITAR-REPORTES-DE-CREDITO.pdf">Formato
                                    de aval</a>
                            </li>
                        </div>
                    </div>

                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start w-[50px]">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Especificaciones:</p>
                    </div>
                    <div>
                        <div>
                            <li>10% del monto a financiar en la cuenta de Ahorro Hipódromo al momento de hacer uso del
                                crédito</li>
                            <li>Monto desde $50,000.01 hasta $700,000.00</li>
                            <li>Vehículos nuevos y seminuevos (modelo: hasta 8 años anteriores al año de la solicitud de
                                crédito)</li>
                            <li>Plazo de 2 a 72 meses (6 años)</li>
                            <li>Medios y canales de disposición del crédito:
                                <ul>
                                    <li>- Cheque</li>
                                    <li>- Transferencia electrónica</li>
                                </ul>
                            </li>
                            <li>TASA ORDINARIA FIJA DE INTERÉS ANUAL 10.56% “ANTES DE IMPUESTOS”</li>
                            <li>TASA DE INTERÉS MORATORIA 21.12% “ANTES DE IMPUESTOS”</li>
                            <li>Cálculo de interés sobre saldos insolutos</li>
                            <li>Forma de pago: Abono fijo</li>
                            <li>Pago periódico de capital e intereses mensuales</li>
                            <li>Crédito sujeto a la capacidad de pago del solicitante</li>
                            <li>Crédito con garantías:
                                <ul>
                                    <li>- Quirografaria</li>
                                    <li>- Financiera</li>
                                    <li>- Prendaria</li>
                                    <li>- Obligado Solidario o aval (De acuerdo a la Calificación de Socio)</li>
                                </ul>
                            </li>
                            <li>Este crédito está disponible para todas las sucursales de Caja Hipódromo ubicadas en los
                                Estados de Durango, Zacatecas y Coahuila</li>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="flex justify-center ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 3 -->
                <div class="p-4 flex flex-col self-start mr-[300px] ">
                    <div class="flex self-start ">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Recomendaciones de uso:</p>
                    </div>
                    <div>
                        <div>
                            <li>Saldos insolutos: Se aceptan pagos anticipados y/o adelantados, sin ninguna
                                penalización.</li>
                            <li>Capacidad de pago: Crédito sujeto a la capacidad de pago del solicitante.</li>
                            <li>Autorización: De acuerdo al reglamento del Comité de Crédito.</li>
                            <li>Lugar para realizar el pago: En nuestra oficina matriz o cualquier sucursal de Caja
                                Hipódromo.</li>
                        </div>
                    </div>

                </div>
                <!-- Elemento 4 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start ">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Ventajas y Beneficios:</p>
                    </div>
                    <div>
                        <div>
                            <li>Sin Comisión por Apertura</li>
                            <li>Sin antigüedad como Socio</li>
                            <li>Sin antigüedad laboral</li>
                            <li>Tu ahorro sigue generando interés</li>
                            <li>Genera historial crediticio</li>
                            <li>Sin penalización por liquidación anticipada</li>
                            <li>Socio Excelente, reducción de 1.08% punto porcentual en la Tasa de Interés Anualizada
                                Normal</li>
                            <li>Se puede omitir el aval y el seguro del vehículo en caso de que no haya monto en riesgo
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start w-[50px]">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Comisiones:</p>
                    </div>
                    <div>
                        <div>
                            <li>El producto no prevé comisión alguna</li>
                        </div>
                    </div>

                </div>
                <!-- Elemento 1 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Avertencias y Riesgos:</p>
                    </div>
                    <div>
                        <div>
                            <li>Incumplir tus obligaciones te puede generar intereses moratorios.</li>
                            <li>Contratar créditos que excedan tu capacidad de pago afecta tu historial crediticio.</li>
                            <li>“El avalista, obligado solidario o coacreditado responderá como obligado principal por
                                el total del pago frente a la Institución Financiera”.</li>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Última sección-->
        <div class="flex justify-center pt-[50px]">
            <div class="flex">
                <div class=" w-[62px] p-[10px] flex self-start">
                    <img src="/images/AhorroJR/Iconos/Ahorro5.png" alt="Icono 1">
                </div>
                <div>
                    <div class="text-[#525560]">
                        <h2 class="text-xl text-black font-semibold">Restricciones y Exclusiones</h2>
                        <li>Exclusivo para Socios.</li>
                        <li>Para poder adquirir este tipo de producto, el Socio deberá estar al corriente con sus
                            obligaciones actuales.</li>
                        <li>Zona Geográfica Limitada.</li>
                        <li>Las garantías financieras podrán ser administradas en los casos en donde se desee unificar
                            créditos, garantizando siempre que el crédito que quede activo cumpla con el porcentaje de
                            garantía liquida mínima. Esta solicitud la podrá realizar el Comité de Crédito o en su caso,
                            un Oficial de Crédito con categoría B.</li>
                        <li>Puede requerir de avales (de acuerdo a la Calificación de Socio), y requiere de garantías.
                        </li>
                        <li>Máximo podrá manejar 3 créditos (sin importar el tipo de producto).</li>
                        <li>No se considera la reciprocidad en Ahorro Hipódromo con respecto a la Tasa de Interés.</li>
                        <li>La garantía líquida del crédito se podrá ir liberando cuando el saldo del crédito sea menor
                            al saldo de dicha garantía, y se liberará solo la diferencia, ya sea para retiro o bien para
                            poder tomarlo en cuenta como garantía financiera para otro crédito.</li>
                        <li>Se financiará solo para la adquisición de Vehículos Nacionales y de Modelo de hasta 8 años
                            anteriores al año en curso.</li>
                        <li>El plazo de 72 meses solo aplica para vehículos nuevos de agencia y donde el financiamiento
                            sea por un monto mínimo a $300,000.01.</li>
                        <li>En un inicio, deberá contar con Póliza de Seguro por 3 años en el caso de un Plazo Máximo de
                            60 meses y a 4 años en los créditos con un Plazo entre los 61 y 72 meses. Dichas Pólizas
                            deberán ser con Cobertura Amplia, con beneficiario preferente y endoso a favor de la
                            Sociedad (excepto cuando no hay monto en riesgo). En caso de adquirir un financiamiento
                            menor a 3 años, deberá contar el Seguro durante toda la vida del crédito.</li>
                        <li>El financiamiento del Seguro solo será por el Plazo que la Póliza cubra.</li>
                        <li>Crédito no renovable, sin embargo, por ser adicional el solicitante podrá adquirir otro de
                            la misma clase, siempre y cuando cumpla con las condiciones que requiere el análisis del
                            producto.</li>
                        <li>Las modalidades de recepción de abonos con respecto a los Pagos Anticipados y Adelantados
                            estarán especificadas en la política del producto y manual de crédito.</li>
                        <li>La consulta de buró de crédito es un requisito y un servicio.</li>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <div class="bg-white rounded-lg shadow-md p-8  bg-cover w-1230px h-384px text-center text-white items-center"
                style="background-image: url('/images/Socios.jpg');">

                <p class="text-5xl mt-5">¿Qué esperas? <br>Conviertete en socio Caja <br>Hipódromo</p>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>