<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Becas Hipódromo</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroH/AhorroH.png" alt="ahorrojr">
        </div>
    </section>

    <section class="mt-5 mb-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px] font-bold text-center">BECAS HIPÓDROMO</h1>
                    <p class="pt-[50px]">El primer pago de las Becas Hipódromo del ciclo 2023-2024 estará disponible del
                        11 de septiembre al 31 de octubre de 2023.
                    </p>
                    <p>Para el cobro de la Beca se tiene que presentar lo siguiente:</p>
                    <li>Credencial del Ahorrador Menor o Número de Socio
                    </li>
                    <li>Identificación Oficial Vigente del Padre o Tutor
                    </li>
                    <p class="font-bold">*Para más información consulta al tel. 6181501200 ext. 2304</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>




    {{>footer}}

</body>

</html>