<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Clasificación de Socios</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/Beneficios/header.png" alt="">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px]">Calificación de Socios</h1>
                    <p class="pt-[50px]">Es un beneficio para los Socios que tiene como objetivo principal identificar a
                        los Socios evaluando el nivel de cumplimiento interno en diferentes rubros. La calificación de
                        Socio se divide en 4 estatus:</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Ganancias Anual -->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div>
                <img src="/images/Beneficios/Clasific.png" alt="Clasificación de Socios">
            </div>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex justify-center items-center mr-[1139px]">
            <div class="flex items-center w-[150px] ">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="font-bold">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <!-- Primera sección-->
        <div class="flex ">
            <div class="grid grid-cols-2 space-x-52">
                <!-- Elemento 1 -->
                <div class="p-4 flex pl-[302px] ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[500px]">
                            <h2 class="text-xl text-black font-semibold">Especificaciones</h2>
                            <li>Créditos sin Aval:
                                <ul>
                                    <li>-Especial</li>
                                    <li>-Promo Plus Hipódromo</li>
                                    <li>-Construye Hipódromo</li>
                                    <li>-Hipoteca Hipódromo</li>
                                </ul>
                            </li>
                            <li>Créditos sin aval y con disminución de 1.08% en tasa de interés normal anualizada:
                                <ul>
                                    <li>-Crediplus</li>
                                    <li>-Triple Hipódromo</li>
                                    <li>-Remodela Hipódromo</li>
                                    <li>-AutoHipódromo</li>
                                    <li>-MaxHipódromo</li>
                                    <li>-Activos Pyme Hipódromo</li>
                                    <li>-Comercial Pyme Hipódromo</li>
                                    <li>-Avío Hipódromo</li>
                                    <li>-Refaccionario Hipódromo</li>
                                </ul>
                            </li>
                            <li>Terreno Hipódromo sin aval y con disminución de 1.08% en tasa de interés normal
                                anualizada si el plazo es menor o igual a 84 meses</li>
                            <li>Créditos con disminución de 1.08% en tasa de interés normal anualizada:
                                <ul>
                                    <li>-Automático Hipódromo</li>
                                    <li>-Credicrece Hipódromo</li>
                                    <li>-Preautorizado Hipódromo</li>
                                </ul>
                            </li>
                            <li>Puntos adicionales en el Plan de Recompensas al 31 de octubre</li>
                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560]">
                            <h2 class="text-xl text-black font-semibold ">Qué factores se toman en cuenta?</h2>
                            <li>Antigüedad</li>
                            <li>Ahorro</li>
                            <li>Historial de Crédito interno </li>
                            <li>Documentación completa y actualizada</li>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="mb-10">
        <div class="flex justify-center">
            <div>
                <div class="w-[490px] h-[304px] relative">
                    <div class="w-[490px] h-[304px] left-0 top-0 absolute bg-rose-800 rounded-[10px]"></div>
                    <div
                        class="w-[386px] h-[221px] left-[52px] top-[41px] absolute text-white text-[42px] font-bold font-['Roboto'] leading-[54.60px]">
                        Podrás consultar tu Calificación de Socio en la sucursal de tu preferencia</div>
                </div>
            </div>

        </div>
    </section>
    {{>footer}}

</body>

</html>