<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Bolsa de trabajo</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Secci贸n imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroH/AhorroH.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Secci贸n Cuenta Junior Hip贸dromo -->

    <section class="mt-5 mb-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px] font-bold">Bolsa de Trabajo</h1>
                    <p class="pt-[50px]">Forma parte del equipo de Caja Hip贸dromo
                        Manda tu curriculum al correo

                        karen.covarrubias@cajahipodromo.com</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>


    {{>footer}}

</body>

</html>