<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Credicrece Hipodromo</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/Creditos/Creditos14.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px]">Credicrece Hipodromo</h1>
                    <p class="pt-[50px] w-[700px]">Con este crédito puede solicitar de manera inmediata un
                        financiamiento, cuyo pago deberá estar garantizado con un depósito de Plazo Fijo Rendicrece que
                        en ese momento tenga, la liquidación del crédito se realizará cuando venza el periodo de
                        inversión.

                    </p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Ganancias Anual -->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="bg-CH w-[898px] h-[304px] rounded-lg flex flex-col">
                <div class="text-center text-white">
                    <h1 class="text-[56px] p-[40px] font-bold">CAT Promedio 22.6% “SIN IVA”</h1>
                    <hr class="w-[180px]  bg-white mx-auto">
                    <p class="h-[57px] w-[880px] pt-[60px] text-[14px] font-normal">“El Costo Anual Total de financiamiento
                        expresado en términos
                        porcentuales anuales que, para fines informativos y de comparación, incorpora la totalidad de
                        los costos y gastos inherentes a los créditos”. Calculado al 09 de octubre de 2023.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex items-center">
            <div class="flex items-center w-[150px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <!-- Primera sección-->
        <div class="flex justify-center ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start w-[50px]">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Requisitos:</p>
                    </div>
                    <div>
                        <div>
                            <li>Parte Social completa (exclusivo para socios)</li>
                            <li>Edad mínima: 18 años en adelante</li>
                            <li>Sin antigüedad como Socio</li>
                            <li>Mínimo $200.00 en Ahorro Hipódromo para realizar el trámite</li>
                            <li>Constancia de Plazo Fijo Rendicrece</li>
                            <li>Original y copia de:</li>
                            <ul>
                                <li>- Identificación oficial vigente</li>
                                <li>- Comprobante de domicilio (Credencial para votar vigente, luz, agua o teléfono no
                                    mayor a tres meses de su fecha de emisión; en caso de que no se cuente con algún
                                    servicio contratado, se podrá aceptar predial vigente y escritura o título de
                                    propiedad)</li>
                                <li>- Comprobante de ingresos (Recibo de Nómina, Carta de Ingresos, Estado de Cuenta
                                    Bancario, Carta expedida por el Contador Público anexando su respectiva Cédula
                                    Profesional, Carta de Declaración de Ingresos expedida por la Sociedad)</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start w-[50px]">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Especificaciones:</p>
                    </div>
                    <div>
                        <div>
                            <li>Monto: $1,000.00 hasta $5,000,000.00 pesos</li>
                            <li>Mínimo $200.00 en Ahorro Hipódromo</li>
                            <li>Plazo: 2 a 12 meses</li>
                            <li>Medios y canales de disposición del crédito:</li>
                            <ul>
                                <li>- Ventanilla (Vale de Caja)</li>
                                <li>- Efectivo</li>
                                <li>- Cheque</li>
                            </ul>
                            <li>TASA ORDINARIA FIJA DE INTERÉS ANUAL: 21.96% “ANTES DE IMPUESTOS”</li>
                            <li>TASA DE INTERÉS MORATORIA: 43.92% “ANTES DE IMPUESTOS”</li>
                            <li>Cálculo de interés sobre saldos insolutos</li>
                            <li>Pago único de capital e interés al vencimiento</li>
                            <li>Pago fijo</li>
                            <li>Crédito con garantías:</li>
                            <ul>
                                <li>- Quirografaria</li>
                                <li>- Financiera</li>
                            </ul>
                            <li>Disponible en todas las sucursales de Caja Hipódromo ubicadas en los Estados de Durango,
                                Zacatecas y Coahuila</li>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="flex justify-center ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 3 -->
                <div class="p-4 flex flex-col self-start mr-[300px] ">
                    <div class="flex self-start ">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Recomendaciones de uso:</p>
                    </div>
                    <div>
                        <div>
                            <li>Saldos insolutos: Se aceptan pagos anticipados y/o adelantados, sin ninguna
                                penalización.</li>
                            <li>Capacidad de pago: Crédito sujeto a la capacidad de pago del solicitante.</li>
                            <li>Autorización: De acuerdo al reglamento del Comité de Crédito.</li>
                            <li>Lugar para realizar el pago: En nuestra oficina matriz o cualquier sucursal de Caja
                                Hipódromo.</li>
                        </div>
                    </div>

                </div>
                <!-- Elemento 4 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start ">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Ventajas y Beneficios:</p>
                    </div>
                    <div>
                        <div>
                            <li>Sin Comisión por Apertura</li>
                            <li>Sin antigüedad como Socio</li>
                            <li>Sin antigüedad laboral</li>
                            <li>Sin penalización por liquidación anticipada.</li>
                            <li>Sin penalización por liquidación anticipada</li>
                            <li>Reducción de intereses</li>
                            <li>Tu ahorro sigue generando interés</li>
                            <li>Genera historial crediticio</li>
                            <li>Se podrá liquidar o abonar al crédito antes de cumplir con el plazo establecido</li>
                            <li>Socio Excelente, reducción de 1.08% punto porcentual en la Tasa de Interés Anualizada
                                Normal</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start w-[50px]">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Comisiones:</p>
                    </div>
                    <div>
                        <div>
                            <li>El producto no prevé comisión alguna</li>
                        </div>
                    </div>

                </div>
                <!-- Elemento 1 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Avertencias y Riesgos:</p>
                    </div>
                    <div>
                        <div>
                            <li>Incumplir tus obligaciones te puede generar intereses moratorios.</li>
                            <li>Contratar créditos que excedan tu capacidad de pago afecta tu historial crediticio.</li>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Última sección-->
        <div class="flex justify-center pt-[50px]">
            <div class="flex">
                <div class=" w-[62px] p-[10px] flex self-start">
                    <img src="/images/AhorroJR/Iconos/Ahorro5.png" alt="Icono 1">
                </div>
                <div>
                    <div class="text-[#525560]">
                        <h2 class="text-xl text-black font-semibold">Restricciones y Exclusiones</h2>
                        <li>Exclusivo para Socios</li>
                        <li>Para poder adquirir este tipo de producto, el Socio deberá ir al corriente con sus
                            obligaciones actuales.</li>
                        <li>Zona Geográfica Limitada.</li>
                        <li>Requiere de garantías.</li>
                        <li>Máximo podrá manejar 3 créditos (sin importar el tipo de producto).</li>
                        <li>El plazo del crédito deberá ser establecido en base a la fecha de vencimiento del Plazo Fijo
                            Rendicrece del Socio.</li>
                        <li>El monto se otorgará de acuerdo al capital de la inversión y al cálculo de interés que
                            generará el crédito.</li>
                        <li>No se requerirá consulta de Buró de Crédito para el otorgamiento de este tipo de préstamo.
                        </li>
                        <li>Este crédito puede ser clasificado como Renovado siempre y cuando cuyo destino sea la
                            liquidación parcial o total de otro crédito dentro de la institución en la que sea parte el
                            mismo deudor, un obligado solidario de dicho deudor, u otra persona que por sus nexos
                            patrimoniales constituya riesgos comunes. Será clasificado como renovado una vez entregado.
                        </li>
                        <li>Las modalidades de recepción de abonos con respecto a los Pagos Anticipados y Adelantados
                            estarán especificadas en la política del producto y manual de crédito.</li>
                        <li>Crédito no renovable. Es necesario liquidar para poder adquirir otro de la misma clase. Sin
                            embargo, por ser adicional, el solicitante podrá adquirir otro del mismo tipo ya sea tomando
                            en cuenta la misma garantía de su Depósito Rendicrece u otro vigente en su caso, siempre y
                            cuando el monto a otorgar no exceda el saldo de la inversión en garantía.</li>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <div class="bg-white rounded-lg shadow-md p-8  bg-cover w-1230px h-384px text-center text-white items-center"
                style="background-image: url('/images/Socios.jpg');">

                <p class="text-5xl mt-5">¿Qué esperas? <br>Conviertete en socio Caja <br>Hipódromo</p>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>