<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Document</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroH/AhorroH.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px]">Debi-Hipódromo</h1>
                    <p class="pt-[50px] w-[700px]">Paga todo con tu tarjeta Debi-Hipódromo, en el súper, la farmacia, la
                        gasolinera, en cualquier establecimiento que cuente con una terminal bancaria. Es una tarjeta
                        que puede usarse internacionalmente, puedes comprar a partir de $1.00 y sobre todo, te
                        proporciona seguridad, certeza y control de tu dinero. El monto de apertura es de $500.00 y el
                        utilizarla te brinda beneficios.
                    </p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Ganancias Anual -->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="bg-CH p-4 rounded-lg shadow-lg text-white w-[1280px] h-[359px]">
                <div class="flex justify-between items-center mb-2 pt-[20px]">
                    <h1 class="text-white text-[50px] w-[50%] pl-[56px]">Ganancia Anual Total (GAT) Nominal: 0.00%</h1>
                    <div class="border-l border-white mx-2 h-[8.5rem]"></div>
                    <h1 class="text-white text-[50px] w-[50%] pl-[60px]">Ganancia Anual Total (GAT) Real: 0.00%</h1>
                </div>
                <div class="flex">
                    <p class="text-[16px] text-GR text-center pt-[30px]">“Antes de Impuestos”. “La GAT real es el
                        rendimiento que
                        obtendría
                        después de descontar la inflación estimada”. “Expresada en términos porcentuales anuales, para
                        fines informativos y de comparación”. Montos en Moneda Nacional. Calculado al 09 de octubre de
                        2023.
                        Vigente en todas las sucursales de Caja Hipódromo con cobertura en los estados de Durango,
                        Zacatecas y Coahuila.
                        Los requisitos de contratación, términos y condiciones los podrá consultar en oficina matriz o
                        en cualquiera de las sucursales de CAJA HIPÓDROMO</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="flex items-center w-[150px] mr-[1260px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <!-- Primera sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex self-start pl-[49px]">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560]">
                            <h2 class="text-xl text-black font-semibold">Requisitos</h2>
                            <li>Parte Social completa.</li>
                            <li>Edad mínima 18 años, sin límite</li>
                            <li>Monto mínimo de apertura $500.00</li>
                            <li>Solicitud de apertura.</li>
                        </div>
                        <p class="text-black">Original y copia de:</p>
                        <div class="text-[#525560]">
                            <li>Identificación oficial vigente.</li>
                            <li>Consulta de RFC o RFC, CURP.</li>
                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                    </div>
                    <div class="pl-[15px]">
                        <div class="text-[#525560]">
                            <h2 class="text-xl text-black font-semibold ">Caracteristicas</h2>
                            <li>Monto máximo de apertura $5, 000,000.00</li>
                            <li>Medios y canales de disposición de la cuenta: <br>
                                -Cajeros Automáticos propios <br>
                                -Cajeros Automáticos de otras Instituciones Financieras <br>
                                -Establecimientos Autorizados
                            </li>
                        </div>
                        <p class="text-black"> TASA DE INTERÉS ANUAL FIJA DEL 0.00% (RENDIMIENTO).
                        </p>
                        <div class="text-[#525560] w-[600px]">
                            <li>Retiro: En cajeros RED hasta un límite de $7,000.00 (Siete mil pesos 00/100 M.N.) en un
                                lapso de 24 horas, además de consultas y últimos movimientos.</li>
                            <li>Se podrán realizar hasta 15 transacciones por compras y 5 por retiros en el lapso de 24
                                horas.</li>
                            <li>Por compras en establecimientos: Hasta $7,000.00 (Siete mil pesos 00/100 M.N.) por TPV y
                                un máximo de $25,000.00 (Veinticinco mil pesos 00/100 M.N.) en 24 horas.</li>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2">
                <!-- Elemento 1 -->
                <div class="p-4 flex self-start ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro3.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[380px] mr-[202px]">
                            <h2 class="text-xl text-black font-semibold">Comisiones</h2>
                            <li>Comisión de $50.00 (Cincuenta pesos 00/100 M.N.) más IVA, por evento, en la reposición
                                de la tarjeta por robo y/o extravío.</li>
                            <li>Comisión de $50.00 (Cincuenta pesos 00/100 M.N.) más IVA, por evento, en la tarjeta por
                                deterioro.</li>
                            <li>Comisión de $200.00 (Doscientos pesos 00/100 M.N.) más IVA, por aclaraciones
                                improcedentes de la cuenta (Movimientos o cargos no reconocidos).</li>
                            <li>Retiros en Cajeros de otra Institución Financiera, son bajo comisión establecida por los
                                mismos.</li>

                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro4.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[500px]">
                            <h2 class="text-xl text-black font-semibold">Alcance o Beneficios</h2>
                            <li>Protección del Fideicomiso del Fondo de Supervisión Auxiliar de Sociedades Cooperativas
                                de Ahorro y Préstamo y de Protección a sus Ahorradores hasta por 25,000 UDIs.</li>
                            <li>Es una tarjeta que puede usarse internacionalmente, puedes comprar a partir de $1.00, te
                                proporciona seguridad, certeza y control de tu dinero.</li>
                            <li>Servicio de atención telefónica (Call Center) las 24 horas para reportar cualquier
                                detalle con la tarjeta de débito:
                                -Del interior de la república: 01 800 00 33 24 86 (Atención UNISAP).
                                -En Estados Unidos: 1 800 627 83 72 (Atención MasterCard).</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tercera sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2">
                <!-- Elemento 1 -->
                <div class="p-4 flex self-start ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro3.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[380px] mr-[202px]">
                            <h2 class="text-xl text-black font-semibold">Comisiones</h2>
                            <li>Comisión de $50.00 (Cincuenta pesos 00/100 M.N.) más IVA, por evento, en la reposición
                                de la tarjeta por robo y/o extravío.</li>
                            <li>Comisión de $50.00 (Cincuenta pesos 00/100 M.N.) más IVA, por evento, en la tarjeta por
                                deterioro.</li>
                            <li>Comisión de $200.00 (Doscientos pesos 00/100 M.N.) más IVA, por aclaraciones
                                improcedentes de la cuenta (Movimientos o cargos no reconocidos).</li>
                            <li>Retiros en Cajeros de otra Institución Financiera, son bajo comisión establecida por los
                                mismos.</li>

                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex">
                    <div>
                        <img src="images/Debi/Info.png" alt="CONDUSEF">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <div class="bg-white rounded-lg shadow-md p-8  bg-cover w-1230px h-384px text-center text-white items-center"
                style="background-image: url('/images/Socios.jpg');">

                <p class="text-5xl mt-5">¿Qué esperas? <br>Conviertete en socio Caja <br>Hipódromo</p>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>