<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Fondo de Protección</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroJR/ahorrojr.png" alt="ahorrojr">
        </div>
    </section>



    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="flex items-center w-[150px] mr-[1260px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="font-bold">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>


    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5 pb-10">
        <div class="flex justify-center">

            <div>
                <img src="/images/Beneficios/Fondop.png" alt="Fondo protección">
            </div>

        </div>
    </section>


    {{>footer}}

</body>

</html>