<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>HipodroMóvil</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/Hipodromovil/cuentadigital.png" alt="HipodroMóvil">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px]">HipodroMóvil</h1>
                    <p class="pt-[50px]">HipodroMóvil es una práctica app que hace más fácil la experiencia de nuestro
                        Servicio. Queremos que disfrutes de todos los beneficios que la tecnología nos brinda. Todo
                        nuestro esfuerzo está encaminado a ofrecerte un servicio óptimo y eficiente.</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Ganancias Anual -->
    <section class="mt-5">
        <div class="flex flex-col justify-center items-center">
            <div class="text-center ">
                <h2 class="font-bold text-[25px]">¡Revisa todo lo que puedes hacer desde la nueva app de Caja Hipódromo!
                </h2>
            </div>
            <div>
                <img src="/images/Hipodromovil/hipodromovil.png" alt="Interfaz principal de HipodroMóvil">
            </div>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex items-center">
            <div class="flex items-center w-[150px] ">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="font-bold">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <!-- Primera sección-->
        <div class="flex ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex pl-[302px] ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560]">
                            <h2 class="text-xl text-black font-semibold">Requisitos</h2>
                            <li>Ser Socio activo de la Sociedad</li>
                            <li>Identificación oficial vigente con fotografía (IFE/INE o Pasaporte)</li>
                            <li>Número de teléfono celular</li>
                            <li>Correo electrónico</li>
                            <li>CURP</li>
                            <li>Acudir personalmente</li>
                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560]">
                            <h2 class="text-xl text-black font-semibold ">Caracteristicas</h2>
                            <li>Los retiros desde HipodroMóvil serán únicamente de la cuenta Depósito a la Vista
                                Hipódromo (Previamente contratada)</li>
                            <li>Monto máximo de traspaso diario:
                                <ul>
                                    <li>- A otros Socios: $100,000.00 (diarios)</li>
                                    <li>- Transferencias SPEI: $50,000.00 (diarios)</li>
                                    <li>- Entre cuentas propias del Socio: Sin límite (se considera el saldo que tenga
                                        disponible en Depósito a la Vista Hipódromo)</li>
                                </ul>
                            </li>
                            <li>Para abono a préstamos, el monto mínimo será la suma del interés calculado a la fecha de
                                pago</li>
                            <li>Podrá liquidar su préstamo en su fecha de pago, programándolo previamente</li>
                            <li>Horario:
                                <ul>
                                    <li>- Para aplicación en firme de transacciones internas: De lunes a viernes hasta
                                        las
                                        9:00 p.m., sábados hasta las 6:00 p.m. y último día del mes hasta las 6:00 p.m.
                                    </li>
                                    <li>- Traspasos a Debi-Hipódromo desde HipodroMóvil: 24/7</li>
                                    <li>- Aplicación SPEI: De lunes a viernes de 6:00 a.m. a 6:00 p.m.</li>
                                    <li>- Después del horario, se aplicará al día siguiente hábil</li>
                                </ul>
                            </li>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2">
                <!-- Elemento 1 -->
                <div class="p-4 flex">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro3.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[380px] mr-[202px]">
                            <h2 class="text-xl text-black font-semibold">Comisiones</h2>
                            <li>El producto no prevé comisión alguna</li>

                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro4.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[500px]">
                            <h2 class="text-xl text-black font-semibold">Alcance o Beneficios</h2>
                            <li>Horario extendido</li>
                            <li>Sin cobro de comisiones por traspasos en su cuenta, traspasos a otros socios y consultas
                                de saldo, movimientos y estados de cuen</li>
                            <li>Consultas de saldo y movimientos sin acudir a sucursal</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Primera sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex pl-[302px]">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[582px]">
                            <h2 class="text-xl text-black font-semibold">Operaciones Disponibles</h2>
                            <li>Consulta de saldos</li>
                            <li>Consulta de movimientos (últimos 90 días)</li>
                            <li>Consulta y descarga de estados de cuenta (3 últimos emitidos)</li>
                            <li>Depósitos a cuentas previamente contratadas:
                                <ul>
                                    <li>- Ahorro Hipódromo</li>
                                    <li>- Cuenta Junior Hipódromo</li>
                                    <li>- Depósito a la Vista Hipódromo</li>
                                    <li>- Naviahorro Hipódromo</li>
                                    <li>- Debi-Hipódromo</li>
                                </ul>
                            </li>
                            <li>Envío de transferencias SPEI con un costo de $8.00 + IVA ($9.28) por evento (el cargo se
                                aplicará en la cuenta de Depósito a la Vista Hipódromo, previamente contratada)</li>
                            <li>Pagos de préstamos propios y de otros Socios</li>
                            <li>Recepción de transferencias SPEI a las cuentas de Depósito a la Vista Hipódromo y
                                Debi-Hipódromo (Previamente contratadas)</li>
                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560]">
                            <h2 class="text-xl text-black font-semibold ">Manual de Usuario </h2>
                            <li> Consulta el manual de usuario</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tercera sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2">
                <!-- Elemento 1 -->
                <div class="p-4 flex">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro3.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[380px] mr-[202px]">
                            <h2 class="text-xl text-black font-semibold">Recomendaciones </h2>
                            <li>Programe con tiempo su pago a préstamos y deposito al ahorro, mantenga su buen
                                cumplimiento</li>
                            <li>Evite en lo posible realizar pagos parciales, programe su pago en una sola exhibición
                            </li>
                            <li>Realice sus operaciones dentro de los horarios establecidos</li>
                            <li>Registre sus cuentas destino con 30 minutos de antelación a la transferencia</li>

                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro4.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[500px]">
                            <h2 class="text-xl text-black font-semibold">Restricciones y Exclusiones</h2>
                            <li>Socios en litigio con la sociedad cooperativa no podrán activar el servicio de Banca
                                Electrónica.</li>
                            <li>Socios excluidos de la sociedad cooperativa no podrán activar el servicio de Banca
                                Electrónica.</li>
                            <li>Aquellos Socios que se encuentren en la Lista de personas bloqueadas, de acuerdo al
                                Manual de cumplimiento en materia de prevención de lavado de dinero y financiamiento al
                                terrorismo de la Sociedad, no podrán activar el servicio y, en caso de ya estar activo,
                                les será bloqueado.</li>
                            <li>En caso de tener créditos, para activar el servicio de banca electrónica, el socio
                                deberá encontrarse en cartera vigente.</li>
                            <li>Para tener acceso a los servicios de Banca Electrónica, el socio debe acudir a activarlo
                                en sucursal, presentando identificación oficial vigente con fotografía y el número
                                celular a vincular.</li>
                            <li>Solo aplica para socios con cuentas activas.</li>
                            <li>Los pagos y depósitos realizados posteriormente a la ejecución de procesos de cierre de
                                operaciones serán aplicables al siguiente día de operaciones de la Sociedad Cooperativa.
                            </li>
                            <li>El saldo máximo de cada cuenta será el determinado en su ficha técnica correspondiente.
                            </li>
                            <li>Los socios podrán reducir los límites máximos de traspaso o transferencia para Banca
                                Electrónica, solicitándolo de manera presencial en sucursales u oficina matriz.</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <div class="bg-white rounded-lg shadow-md p-8  bg-cover w-1230px h-384px text-center text-white items-center"
                style="background-image: url('/images/Socios.jpg');">

                <p class="text-5xl mt-5">¿Qué esperas? <br>Conviertete en socio Caja <br>Hipódromo</p>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>