<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">

    <title>Document</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}
    <!--Inicio-->
    <section>
        <div class="bg-cover" style="background-image: url('/images/Ahorro.png');  height: 1000px;">
            <div class="flex">
                <div class="text-white pt-80 pl-56">
                    <h1 class="font-Roboto text-6xl font-bold">Porque tu ahorro nos <br>importa.</h1>
                    <button type="button" class="bg-CH text-white font-bold py-2 px-4 rounded mt-24">
                        Cónocenos
                    </button>
                </div>
                <div class="pt-[10rem] pl-[22rem] w-[900px]">
                    <img class="" src="/images/LOGO.png" alt="Logo">
                </div>
            </div>
        </div>
    </section>;

    <!--BOLETÍN-->
    <section class="h-37rem font-Roboto">
        <div class="flex justify-between">
            <div>
                <div class="flex items-center w-56 ml-11 mt-20">
                    <hr class="  flex-1 border-t-2 border-black mr-4">
                    <p class="font-bold">BOLETÍN</p>
                </div>
                <div class="pl-12rem mt-5">
                    <h1 class="text-7xl font-bold">Enterate de nuestras <br>promociones</h1>
                    <p class="w-690px mt-5 font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        delectus
                        <br>a deserunt labore aperiam ab! Pariatur blanditiis eaque officia, ipsam nulla exercitationem
                        iusto cupiditate corporis tempore ipsa? Delectus, perferendis blanditiis!
                    </p>
                    <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                        Enterate
                    </button>
                </div>
            </div>
            <div>
                <div class="mt-28 pr-56">
                    <img class="rounded-lg" src="/images/niña.png" alt="main">
                </div>
            </div>
    </section>

    <!--SERVICIOS-->
    <section class="h-auto font-Roboto bg-CH text-white">
        <div class="flex justify-between">
            <div>
                <div class="flex items-center w-56 ml-11 mt-20">
                    <hr class="  flex-1 border-t-2 border-white mr-4">
                    <p class="font-bold">SERVICIOS</p>
                </div>
                <div class="pl-12rem mt-5">
                    <h1 class="text-7xl font-bold">Enterate de los servicios <br>que la Caja Hipodrómo <br>tiene</h1>
                    <p class="w-690px mt-5 font-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>

                    <div class="w-[460px] h-[442px] relative mb-20">
                        <div
                            class="w-[441px] h-[0px] left-0 top-[1px] absolute origin-top-left rotate-90 border border-neutral-200">
                        </div>
                        <div class="w-[436px] h-[94px] left-[24px] top-[348px] absolute">
                            <div
                                class="w-96 left-[52px] top-[42px] absolute text-zinc-300 text-base font-normal font-['Roboto'] leading-relaxed">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                                eros.</div>
                            <div class="left-[52px] top-0 absolute text-white text-2xl font-bold font-['Roboto']">Centro
                                recreativo</div>
                            <div class="w-7 h-7 left-0 top-[1px] absolute">
                                <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded"
                                    style="background-image: url('/images/icons/Icon4.png');"></div>
                            </div>
                        </div>
                        <div class="w-[436px] h-[94px] left-[24px] top-[230px] absolute">
                            <div
                                class="w-96 left-[52px] top-[42px] absolute text-zinc-300 text-base font-normal font-['Roboto'] leading-relaxed">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                                eros.</div>
                            <div class="left-[52px] top-0 absolute text-white text-2xl font-bold font-['Roboto']">Caja
                                de ahorro</div>
                            <div class="w-7 h-7 left-0 top-[1px] absolute">
                                <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded"
                                    style="background-image: url('/images/icons/Icon3.png');"></div>
                            </div>
                        </div>
                        <div class="w-[436px] h-[94px] left-[24px] top-[112px] absolute">
                            <div
                                class="w-96 left-[52px] top-[42px] absolute text-zinc-300 text-base font-normal font-['Roboto'] leading-relaxed">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                                eros.</div>
                            <div class="left-[52px] top-0 absolute text-white text-2xl font-bold font-['Roboto']">Pago
                                de servicios</div>
                            <div class="w-7 h-7 left-0 top-[1px] absolute">
                                <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded"
                                    style="background-image: url('/images/icons/Icon2.png');"></div>
                            </div>
                        </div>
                        <div class="w-[436px] h-[88px] left-[24px] top-0 absolute">
                            <div
                                class="w-96 left-[52px] top-[36px] absolute text-zinc-300 text-base font-normal font-['Roboto'] leading-relaxed">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                                eros.</div>
                            <div class="left-[52px] top-0 absolute text-white text-2xl font-bold font-['Roboto']">
                                Cajeros Automaticos</div>
                            <div class="w-7 h-7 left-0 top-[1px] absolute">
                                <div class="w-7 h-7 left-0 top-0 absolute bg-white rounded"
                                    style="background-image: url('/images/icons/Icon1.png');"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="flex flex-col justify-center">
                    <img class="p-[150px]" src="/images/SERVICIOS.png" alt="main">
                </div>
            </div>
    </section>

    <!--LastOne-->
    <section class="font-Roboto mb-10">
        <div>
            <div>
                <div class="flex items-center w-56 ml-11 mt-20 mb-5">
                    <hr class="  flex-1 border-t-2 border-black mr-4">
                    <p class="font-bold">EDUCACIÓN FINANCIERA</p>
                </div>
            </div>
        </div>
        <div class="mb-5 flex justify-center ">
            <h1 class="text-[48px] font-bold w-[993px]">La educación financiera no solo te ayuda a administrar tu
                dinero, sino que te da el poder de controlar tu futuro financiero.</h1>
        </div>

        <div class="flex justify-around">
            <div class="flex flex-col justify-evenly rounded-[12px] bg-cover p-6 shadow-lg  w-[411px] h-[421px]"
                style="background-image: url('/images/pfinan.png');">
                <div class="w-[315px] h-[293px] flex flex-col justify-evenly">
                    <h5 class="mb-2 text-[28px] w-[312px] font-bold leading-tight  text-white text-center">
                        Planificación Financiera
                    </h5>
                    <p class="mb-4 text-normal text-[16px] text-white w-[315px]">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                    <div
                        class="w-[124px] h-[51px] px-8 py-4 bg-white rounded backdrop-blur-[80px] justify-center items-center gap-2.5 inline-flex">
                        <div class="text-right text-gray-800 text-base font-medium font-['Roboto']">Ver Más</div>
                    </div>
                </div>

            </div>

            <div class="flex flex-col justify-evenly rounded-[12px] bg-cover p-6 shadow-lg  w-[411px] h-[421px]"
                style="background-image: url('/images/ConsejosF.png');">
                <div class="w-[315px] h-[293px] flex flex-col justify-evenly">
                    <h5 class="mb-2 text-[28px] w-[312px] font-bold leading-tight  text-white text-center">
                        Consejos para metas financieras
                    </h5>
                    <p class="mb-4 text-normal text-[16px] text-white w-[315px]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                    </p>
                    <div
                        class="w-[124px] h-[51px] px-8 py-4 bg-white rounded backdrop-blur-[80px] justify-center items-center gap-2.5 inline-flex">
                        <div class="text-right text-gray-800 text-base font-medium font-['Roboto']">Ver Más</div>
                    </div>
                </div>

            </div>

            <div class="flex flex-col justify-evenly rounded-[12px] bg-cover p-6 shadow-lg  w-[411px] h-[421px]"
                style="background-image: url('/images/ImportanciaA.png');">
                <div class="w-[315px] h-[293px] flex flex-col justify-evenly">
                    <h5 class="mb-2 text-[28px] w-[312px] font-bold leading-tight  text-white text-center">
                        La importancia del ahorro
                    </h5>
                    <p class="mb-4 text-normal text-[16px] text-white w-[315px]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.
                    </p>
                    <div
                        class="w-[124px] h-[51px] px-8 py-4 bg-white rounded backdrop-blur-[80px] justify-center items-center gap-2.5 inline-flex">
                        <div class="text-right text-gray-800 text-base font-medium font-['Roboto']">Ver Más</div>
                    </div>
                </div>

            </div>

        </div>
        </div>
    </section>

    <!-- Chat test -->
   


    {{>footer}}


    
</body>

</html>