<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Document</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroH/AhorroH.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px]">Naviahorro Hipódromo</h1>
                    <p class="pt-[50px] w-[700px]">Con esta cuenta retirable en día preestablecido, podrá depositar al
                        inicio del año y obtener buenos rendimientos por ese ahorro que va generando mes a mes. Este
                        dinero puede ser retirado a partir del 13 de noviembre, es una excelente opción para aprovechar
                        ofertas del buen fin o prevenir las compras navideñas.</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Ganancias Anual -->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="bg-CH p-4 rounded-lg shadow-lg text-white w-[1280px] h-[359px]">
                <div class="flex justify-between items-center mb-2 pt-[20px]">
                    <h1 class="text-white text-[50px] w-[50%] pl-[56px]">Ganancia Anual Total (GAT) Nominal: 2.50%</h1>
                    <div class="border-l border-white mx-2 h-[8.5rem]"></div>
                    <h1 class="text-white text-[50px] w-[50%] pl-[60px]">Ganancia Anual Total (GAT) Real: -4.35%</h1>
                </div>
                <div class="flex">
                    <p class="text-[16px] text-GR text-center pt-[30px]">“Antes de Impuestos”. “La GAT real es el
                        rendimiento que
                        obtendría
                        después de descontar la inflación estimada”. “Expresada en términos porcentuales anuales, para
                        fines informativos y de comparación”. Montos en Moneda Nacional. Calculado al 09 de octubre de
                        2023.
                        Vigente en todas las sucursales de Caja Hipódromo con cobertura en los estados de Durango,
                        Zacatecas y Coahuila.
                        Los requisitos de contratación, términos y condiciones los podrá consultar en oficina matriz o
                        en cualquiera de las sucursales de CAJA HIPÓDROMO</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="flex items-center w-[150px] mr-[1260px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <!-- Primera sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex self-start pl-[150px]">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560]">
                            <h2 class="text-xl text-black font-semibold">Requisitos</h2>
                            <li>Parte Social completa.</li>
                            <li>Edad mínima 18 años, sin límite</li>
                            <li>Monto mínimo de apertura $200.00</li>
                            <li>Solicitud de apertura.</li>
                        </div>
                        <p class="text-black">Original y copia de:</p>
                        <div class="text-[#525560]">
                            <li>Identificación oficial vigente.</li>
                            <li>Consulta de RFC o RFC, CURP.</li>
                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560]">
                            <h2 class="text-xl text-black font-semibold ">Caracteristicas</h2>
                            <li>Monto mínimo de apertura $200.00</li>
                            <li>Monto máximo de apertura $1, 000,000.00</li>
                            <li>Plazo mínimo de 30 días y máximo de 316 días.</li>
                            <li>Medios y canales de disposición de la cuenta: <br>
                                -Ventanilla (Vale de Caja) <br>
                                -Efectivo <br>
                                -Cheque
                            </li>
                        </div>
                        <p class="text-black"> TASA DE INTERÉS ANUAL FIJA DEL 2.50%(RENDIMIENTO) Antes de Impuestos.
                        </p>
                        <div class="text-[#525560]">
                            <li>Retiro: Se efectuará el día pactado en la constancia de depósito retirable en día
                                pre-establecido.</li>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2">
                <!-- Elemento 1 -->
                <div class="p-4 flex self-start ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro3.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[380px] mr-[202px]">
                            <h2 class="text-xl text-black font-semibold">Comisiones</h2>
                            <li>El producto no prevé comisión alguna.</li>

                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro4.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[500px]">
                            <h2 class="text-xl text-black font-semibold">Alcance o Beneficios</h2>
                            <li>Protección del Fideicomiso del Fondo de Supervisión Auxiliar de Sociedades Cooperativas
                                de Ahorro y Préstamo y de Protección a sus Ahorradores hasta por 25,000 UDIs.</li>
                            <li>Los retiros pueden ser totales o parciales.</li>
                            <li>Los rendimientos se conocen desde un inicio.</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tercera sección-->
        <div class="flex justify-center pt-[50px]">
            <div class="flex">
                <div class=" w-[50px] flex self-start">
                    <img src="/images/AhorroJR/Iconos/Ahorro5.png" alt="Icono 1">
                </div>
                <div>
                    <div class="text-[#525560] w-[480px]">
                        <h2 class="text-xl text-black font-semibold">Restricciones y Exclusiones</h2>
                        <li>Zona geográfica limitada</li>
                        <li>No se pueden realizar transacciones en línea, ni vía telefónica.</li>
                        <li>En cajeros de la sociedad no se realizarán retiros.</li>
                        <li>El saldo de esta cuenta no podrá aceptarse como garantía de préstamo del Socio.</li>
                        <li>En caso de que el crédito se encuentre en cartera vencida el Socio no podrá realizar retiros
                            parciales o totales, sin previo consentimiento de la Sociedad.</li>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <div class="bg-white rounded-lg shadow-md p-8  bg-cover w-1230px h-384px text-center text-white items-center"
                style="background-image: url('/images/Socios.jpg');">

                <p class="text-5xl mt-5">¿Qué esperas? <br>Conviertete en socio Caja <br>Hipódromo</p>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>