<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Preautorizado Hipódromo</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/Creditos/Creditos16.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px]">Preautorizado Hipódromo</h1>
                    <p class="pt-[50px] w-[700px]">Crédito para Socios que cuenten con historial crediticio interno y
                        que han observado buen cumplimiento en el pago de créditos anteriores, así como depósitos
                        mensuales en su cuenta de Ahorro Hipódromo.
                    </p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Ganancias Anual -->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="bg-CH w-[898px] h-[304px] rounded-lg flex flex-col">
                <div class="text-center text-white">
                    <h1 class="text-[56px] p-[40px] font-bold">CAT Promedio 16.9% “SIN IVA”</h1>
                    <hr class="w-[180px]  bg-white mx-auto">
                    <p class="h-[57px] w-[880px] pt-[60px] text-[14px] font-normal">“El Costo Anual Total de financiamiento
                        expresado en términos
                        porcentuales anuales que, para fines informativos y de comparación, incorpora la totalidad de
                        los costos y gastos inherentes a los créditos”. Calculado al 09 de octubre de 2023.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex items-center">
            <div class="flex items-center w-[150px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <!-- Primera sección-->
        <div class="flex justify-center ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start w-[50px]">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Requisitos:</p>
                    </div>
                    <div>
                        <div>
                            <li>Parte Social completa (exclusivo para socios)</li>
                            <li>Edad mínima: 18 años en adelante</li>
                            <li>Mínimo 12 meses de antigüedad como socio</li>
                            <li>Mínimo $7,500.00 en Ahorro Hipódromo para realizar el trámite</li>
                            <li>Documentación complementaria:
                                <ul>
                                    <li>- Cheque nominativo expedido y firmado por oficial de crédito de la sociedad
                                    </li>
                                </ul>

                            <li>Original y copia de:
                                <ul>
                                    <li>- Identificación oficial vigente</li>
                                    <li>- Comprobante de domicilio (Credencial para votar vigente, luz, agua o
                                        teléfono no mayor a tres meses de su fecha de emisión. En caso de que no
                                        se cuente con algún servicio contratado, se podrá aceptar predial
                                        vigente y escritura o título de propiedad)</li>
                                    <li>- Comprobante de ingreso (Recibo de Nómina, Carta de Ingresos, Estado de
                                        Cuenta Bancario, Carta expedida por el Contador Público anexando su
                                        respectiva Cédula Profesional, Carta de Declaración de Ingresos expedida
                                        por la Sociedad)</li>
                                </ul>
                            </li>

                            </li>
                        </div>
                    </div>

                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start w-[50px]">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Especificaciones:</p>
                    </div>
                    <div>
                        <div>
                            <li>Monto: Desde $10,000.00 hasta $500,000.00 pesos</li>
                            <li>Requisito: Contar con el 67% en Ahorro Hipódromo en relación al crédito adquirido</li>
                            <li>Plazo: De 2 a 60 meses (5 años)</li>
                            <li>Medios y canales de disposición del crédito:
                                <ul>
                                    <li>- Ventanilla (Vale de Caja)</li>
                                    <li>- Efectivo</li>
                                    <li>- Cheque</li>
                                </ul>
                            </li>
                            <li>Tasa de interés:
                                <ul>
                                    <li>- Tasa ordinaria fija de interés anual: 15% "ANTES DE IMPUESTOS"</li>
                                    <li>- Tasa de interés moratoria: 30.00% "ANTES DE IMPUESTOS"</li>
                                </ul>
                            </li>
                            <li>Cálculo de interés sobre saldos insolutos</li>
                            <li>Pago periódico de capital e intereses mensuales</li>
                            <li>Forma de pago: Abono fijo</li>
                            <li>Crédito sujeto a la capacidad de pago del solicitante</li>
                            <li>Crédito con garantías:
                                <ul>
                                    <li>- Quirografaria</li>
                                    <li>- Financiera</li>
                                </ul>
                            </li>
                            <li>Disponible para todas las sucursales de Caja Hipódromo ubicadas en los Estados de
                                Durango, Zacatecas y Coahuila</li>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="flex justify-center ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 3 -->
                <div class="p-4 flex flex-col self-start mr-[300px] ">
                    <div class="flex self-start ">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Recomendaciones de uso:</p>
                    </div>
                    <div>
                        <div>
                            <li>Saldos insolutos: Se aceptan pagos anticipados y/o adelantados, sin ninguna
                                penalización.</li>
                            <li>Capacidad de pago: Crédito sujeto a la capacidad de pago del solicitante.</li>
                            <li>Autorización: De acuerdo al reglamento del Comité de Crédito.</li>
                            <li>Lugar para realizar el pago: En nuestra oficina matriz o cualquier sucursal de Caja
                                Hipódromo.</li>
                        </div>
                    </div>

                </div>
                <!-- Elemento 4 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start ">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Ventajas y Beneficios:</p>
                    </div>
                    <div>
                        <div>
                            <li>Sin Comisión por Apertura</li>
                            <li>Tu ahorro sigue generando interés</li>
                            <li>Sin penalización por liquidación anticipada</li>

                            <li>Genera historial crediticio</li>
                            <li>Sin comisión por apertura</li>
                            <li>Reducción de Intereses</li>
                            <li>Socio Excelente, reducción de 1.08% punto porcentual en la Tasa de Interés Anualizada
                                Normal</li>
                            <li>Abonos fijos durante el crédito</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center ">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex flex-col self-start mr-[625px]  ">
                    <div class="flex self-start w-[50px]">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Comisiones:</p>
                    </div>
                    <div>
                        <div>
                            <li>El producto no prevé comisión alguna</li>
                        </div>
                    </div>

                </div>
                <!-- Elemento 1 -->
                <div class="p-4 flex flex-col self-start ">
                    <div class="flex self-start">
                        <img class="pr-[10px]" src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        <p class="text-xl text-black font-semibold">Avertencias y Riesgos:</p>
                    </div>
                    <div>
                        <div>
                            <li>Incumplir tus obligaciones te puede generar intereses moratorios.</li>
                            <li>Contratar créditos que excedan tu capacidad de pago afecta tu historial crediticio.</li>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Última sección-->
        <div class="flex justify-center pt-[50px]">
            <div class="flex">
                <div class=" w-[62px] p-[10px] flex self-start">
                    <img src="/images/AhorroJR/Iconos/Ahorro5.png" alt="Icono 1">
                </div>
                <div>
                    <div class="text-[#525560]">
                        <h2 class="text-xl text-black font-semibold">Restricciones y Exclusiones</h2>
                        <li>Exclusivo para Socios</li>
                        <li>Para adquirir este producto, el Socio debe estar al corriente con sus obligaciones actuales
                        </li>
                        <li>Zona Geográfica Limitada</li>
                        <li>Las garantías financieras podrán ser administradas para unificar créditos, asegurando que el
                            crédito activo cumpla con el porcentaje de garantía líquida mínima. Esta solicitud la puede
                            realizar el Comité de Crédito o, en su caso, un Oficial de Crédito con categoría B</li>
                        <li>Requiere de Garantías</li>
                        <li>Máximo 3 créditos (sin importar el tipo de producto)</li>
                        <li>Para el otorgamiento, se seleccionará a los Socios que cumplan con el perfil</li>
                        <li>No debe tener ningún tipo de crédito activo para ser candidato</li>
                        <li>Monto mínimo a otorgar por Socio: $10,000.00</li>
                        <li>Monto máximo a otorgar por Socio: 150% de su Ahorro Hipódromo</li>
                        <li>Crédito Renovable</li>
                        <li>Para renovar, es necesario cubrir el 25%, y solo puede ser renovado una vez por otro tipo de
                            Crédito</li>
                        <li>Si el destino es la liquidación parcial o total de otro crédito en la misma institución, se
                            clasificará como renovado una vez entregado</li>
                        <li>La garantía líquida se puede liberar cuando el saldo del crédito sea menor al saldo en
                            garantía, para retiro o como garantía financiera para otro crédito</li>
                        <li>Consulta de Buró de Crédito solo si se superan las 1,000 UDIS</li>
                        <li>Modalidades de recepción de abonos especificadas en la política del producto y manual de
                            crédito</li>
                        <li>La consulta de Buró de Crédito es un requisito y un servicio</li>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <div class="bg-white rounded-lg shadow-md p-8  bg-cover w-1230px h-384px text-center text-white items-center"
                style="background-image: url('/images/Socios.jpg');">

                <p class="text-5xl mt-5">¿Qué esperas? <br>Conviertete en socio Caja <br>Hipódromo</p>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Más información
                </button>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>