<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Programa Promesa</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroH/AhorroH.png" alt="ahorrojr">
        </div>

        <div class="flex justify-center text-center w-[633px] mx-auto">
            <h1 class="font-bold text-[50px]">Programa Promesa</h1>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="flex items-center w-[150px] mr-[1260px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="uppercase font-bold">Estimado socio</h1>
                </div>
            </div>
        </div>

    </section>
    <!-- Sección Apoyo Funerario -->

    <section class="mt-5">
        <div class="flex flex-col justify-center text-center w-[838px] mx-auto">
            <p class="text-left font-bold text-[19px] text-zinc-600 text-opacity-70">Dando cumplimiento a los acuerdos
                tomados en nuestra XLIV Asamblea Anual Ordinaria, el Consejo de
                Administración propuso crear el “Fondo para los Ahorradores Menores que pasan a Socio”, tomando en
                cuenta las peticiones de nuestros socios, hoy tenemos el gusto de notificarle que ya se encuentra
                autorizado el programa denominado PROMESA (Programa de Ahorrador Menor a Socio), el cual entra en vigor
                a partir del 16 de julio del 2018, los menores que ya cumplieron con este proceso desde el 1 de Abril de
                2018 serán retribuidos de igual manera.
                Dentro de este programa se brinda el beneficio de que nuestra Sociedad Cooperativa otorga el 50% de la
                Parte Social a los ahorradores menores cumplidos, que deciden ser puntuales y efectuar a la brevedad su
                cambio a socio.
                Si desea ver información referente al programa PROMESA, la podrá encontrar publicada en la página de la
                Caja www.cajahipodromo.com.mx, además en nuestra cuenta oficial de FACEBOOK “Caja Hipódromo Autorizada”
                y en el boletín informativo del mes de agosto.
            </p>
            <p class="text-right font-bold text-[19px] text-zinc-600 text-opacity-70"> Durango, Dgo. 23 de julio de
                2018.</p>

            <h2 class="text-center font-bold text-[24px]">Atentamente</h2>
            <h1 class="text-center font-bold text-[30px]"> CONSEJO DE ADMINISTRACIÓN</h1>
        </div>

        <div class="flex justify-center">
            <img class="p-[40px]" src="/images/Beneficios/promesa.png" alt="">
        </div>

        <div class="flex flex-col justify-center w-[1188px] mx-auto pb-10">
            <h1 class="font-bold text-[30px] text-center">Objetivo que persigue el “Programa de Ahorrador Menor a
                Socio”:</h1>
            <div class="w-[838px] text-left font-bold text-[19px] text-zinc-600 text-opacity-70 mx-auto">
                <li>Ser Ahorrador Menor.</li>
                <li>Edad máxima de 18 años con 5 meses.</li>
                <li>Contar en su ahorro al menos con el 50% del equivalente a la parte social.</li>
                <li>Ahorradores menores con un año o más de antigüedad, deberán contar con un ahorro alternado de 6
                    meses. Para aquellos con menos de esta antigüedad se omite este requisito.</li>
                <li>Llenar la solicitud correspondiente y entregarla debidamente requisitada con los datos y anexos que
                    se indiquen.</li>
                <li>Original y copia del acta de nacimiento.</li>
                <li>Original y copia de identiﬁcación oﬁcial vigente.</li>
                <li>CURP</li>
                <li>Cédula de Identificación Fiscal (CIF). (Esta podrá ser opcional al momento del ingreso de Socio, en
                    caso de no presentarla al momento del ingreso, este contará con un plazo de seis meses posteriores a
                    la fecha de su ingreso para presentar dicho documento).</li>
                <li>Validación del Registro Federal de Contribuyentes (RFC). (Este documento solo en caso de no
                    presentar la CIF).</li>
                <li>Presentar original y copia de comprobante de domicilio no mayor a tres meses a partir de su fecha de
                    emisión (recibo de luz, agua o teléfono).</li>
                <li>El tutor, padre o madre del ahorrador menor que lo ingresó, en caso de tener créditos activos,
                    deberá estar al corriente en sus pagos, es decir, no deberá existir morosidad.</li>
                <li>Firmar de conformidad el anexo «Carta compromiso». (Se entrega en nuestra oficina matriz, sucursales
                    locales y foráneas al llevar a cabo el cambio).</li>
            </div>
        </div>
    </section>

    {{>footer}}
</body>

</html>