<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Protecciones</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroJR/ahorrojr.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px] font-bold">Protecciones</h1>
                    <p class="pt-[50px]">Tanto para el ahorro como para sus créditos, Caja Hipódromo brinda a sus Socios
                        estos beneficios adicionales que consisten en:</p>
                </div>
                <div>
                    <img src="/images/AhorroJR/ahorroniña.png" alt="ahorroniña">
                </div>
            </div>
        </div>
    </section>


    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="flex items-center w-[150px] mr-[1260px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section class="pb-20">
        <!-- Primera sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2 space-x-32">
                <!-- Elemento 1 -->
                <div class="p-4 flex items-center ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[535px] mx-auto">
                            <h2 class="text-xl text-black font-semibold">Protección al Ahorro: </h2>
                            <p>Misma que consiste en cubrir el saldo de los haberes; parte social, Ahorro Hipódromo,
                                Plazo Fijo Rendicrece, Depósito a la Vista Hipódromo, NaviAhorro Hipódromo y
                                Debi-Hipódromo. Se protege hasta los 99 años, para nuevos Socios la edad de aceptación
                                es a los 70 años 364 días, en el caso de menores de edad es a partir de los 15 años. Se
                                pagará otro tanto de lo que el Socio tenga ahorrado en la caja al momento del
                                fallecimiento, siempre y cuando estén reportados los saldos a la compañía aseguradora.
                                Así mismo se cuenta con un seguro por incapacidad total y permanente de los 18 hasta los
                                64 años con cancelación a los 65 años (dictaminado por el IMSS e ISSSTE). En caso de
                                suicidio se paga siempre y cuando ocurra al cumplir un año de haber ingresado a Caja
                                Hipódromo y la persona haya estado dentro de los límites de edad de aceptación. Usted
                                puede solicitar información detallada en el área de captación de Caja Hipódromo.
                                La cantidad protegida es de hasta $200,000.00 pesos.</p>
                        </div>
                    </div>
                </div>
                    <!-- Elemento 2 -->
                    <div class="p-4 flex ">
                        <div class=" w-[50px] flex self-start">
                            <img src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                        </div>
                        <div>
                            <div class="text-[#525560] w-[535px] mx-auto">
                                <h2 class="text-xl text-black font-semibold">Protección al Préstamo:</h2>
                               <p>Se aseguran todos los créditos de los Socios desde los 18 a 99 años, para nuevos Socios
                                la edad de aceptación es a los 70 años 364 días. Así mismo se cuenta con un seguro por
                                incapacidad total y permanente de los 18 hasta los 64 años con cancelación a los 65 años
                                (dictaminado por el IMSS e ISSSTE). En caso de suicidio se paga siempre y cuando ocurra
                                al cumplir un año de haber ingresado a Caja Hipódromo y la persona haya estado dentro de
                                los límites de edad de aceptación.
                                Cubre el saldo del préstamo que el Socio haya tenido al momento de su fallecimiento,
                                siempre que:
                                 - Al solicitar el préstamo lo haya hecho en condiciones normales de salud y capacidad de
                                trabajo.
                                 -Haber abonado mínimo 6 meses puntualmente.
                                La cantidad protegida es de hasta $2,000,000.00 de pesos.</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>


    {{>footer}}

</body>

</html>