<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Activos PYME Hipódromo</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/Creditos/Creditos1.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px]">Plan de Recompensas 2023</h1>
                    <p class="pt-[50px] w-[700px]">¡Cumplir te genera puntos y tus puntos te hacen ganar Premios!
                        Socio: Inscríbete a partir del 02 de Enero hasta el 30 de junio de 2023 a nuestro Plan de
                        Recompensas en la Sucursal de tu preferencia</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Ganancias Anual -->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="bg-CH w-[898px] h-[304px] rounded-lg flex flex-col ">
                <div class="text-center text-white">
                    <h1 class="text-[56px] p-[40px] font-bold">CAT Promedio 13.5% “SIN IVA”</h1>
                    <hr class="w-[180px]  bg-white mx-auto">
                    <p class="h-[57px] w-[880px] pt-[60px] text-[14px] font-normal">“El Costo Anual Total de
                        financiamiento
                        expresado en términos
                        porcentuales anuales que, para fines informativos y de comparación, incorpora la totalidad de
                        los costos y gastos inherentes a los créditos”. Calculado al 09 de octubre de 2023.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="flex items-center w-[150px] mr-[1233px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="font-bold">INFORMACIÓN</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div class="flex justify-center">
            <div class="grid grid-cols-2 ">
                <!-- Elemento 1 -->
                <div class="p-4 flex items-center  ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro1.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[628px]">
                            <h2 class="text-xl text-black font-semibold">Requisitos de inscripción</h2>
                            <li>Ser Socio activo de Caja Hipódromo</li>
                            <li>Actualizar documentación para su expediente:</li>
                            <ul>
                                <li>-Acta de nacimiento en formato reciente</li>
                                <li>-Identificación oficial vigente</li>
                                <li>-Cédula de identificación fiscal</li>
                                <li>-Comprobante de domicilio vigente</li>
                                <li>-Contrato de Ahorro Hipódromo actualizado</li>
                                <li>-Correo electrónico</li>
                                <li>-Actualizar perfil transaccional</li>
                                <li>-Firma de la nueva solicitud de ingreso</li>
                            </ul>
                            <li>Llenar formato de inscripción al Plan de recompensas</li>
                            <li class="font-bold">Notas</li>
                            <ul>
                                <li>En caso de que el Socio ya cuente con la documentación actualizada en el sistema no
                                    será necesario volver a presentarla.</li>
                                <li>La Cédula de identificación fiscal puede tramitarla directamente en las Oficinas del
                                    SAT, en la app SAT ID o en el siguiente link:
                                    https://www.sat.gob.mx/aplicacion/28889/obten-tu-cedula-de-identificacion-fiscal
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/AhorroJR/Iconos/Ahorro2.png" alt="Icono 1">
                    </div>
                    <div>
                        <div class="text-[#525560] w-[628px]">
                            <h2 class="text-xl text-black font-semibold ">¿Cómo puedo generar puntos?</h2>
                            <li>Ahorro mensual de $200.00</li>
                            <li>Aperturar una cuenta de NaviAhorro Hipódromo y depósito de $300.00 cada mes</li>
                            <li>Aperturar un Plazo Fijo Rendicrece mayor a $2,000.00 a un plazo de 60, 90 o 180 días
                            </li>
                            <li>Contar con la tarjeta Debi-Hipódromo</li>
                            <li>Debitar con tu tarjeta (compra c/tarjeta) mínimo de $100.00</li>
                            <li>Presentar a Socios (con parte social completa y que estos permanezcan como Socios al
                                menos hasta el 04 de noviembre de 2023)</li>
                            <li>Por tramitar y obtener un crédito ordinario (normal o renovado)</li>
                            <li>Por abono puntual a tus créditos (considerar abono puntual cuando a su fecha de pago,
                                haya completado su abono a capital e interés)</li>
                            <li>Por antigüedad como Socio</li>
                            <li>Descargar la APP Hipodromóvil</li>
                            <li>Transaccionar en la APP Hipodromóvil al menos una vez al mes</li>
                            <li>Tener una Calificación de Socio Excelente lograda al 31 de Octubre de 2023</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ultima sección-->
        <div class="flex justify-center pt-[50px]">
            <div class="flex">
                <div class=" w-[50px] flex self-start">
                    <img src="/images/AhorroJR/Iconos/Ahorro5.png" alt="Icono 1">
                </div>
                <div>
                    <div class="text-[#525560] w-[480px]">
                        <h2 class="text-xl text-black font-semibold">Notas importantes:</h2>
                        <li>Los retiros de ahorro te restan puntos</li>
                        <li>Los días de demora te restan puntos</li>
                        <li>No debitar te resta puntos</li>
                        <li>No usar la APP Hipodromóvil te resta puntos</li>
                        <li>Para que los puntos por presentar Socios le sean válidos, el Socio presentado debe de
                            permanecer hasta el 04 de noviembre de 2023</li>
                        <li>Los puntos podrán ser generados a partir del primer día hábil de Enero y hasta el 31 de
                            octubre de 2023</li>
                        <li>Los puntos podrán canjearse del 13 de diciembre de 2023 al 31 de enero de 2024, después
                            de esta fecha, los puntos no canjeados serán cancelados</li>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <img src="/images/Beneficios/recompensas.png" alt="Recompensas">
        </div>
    </section>

    {{>footer}}

</body>

</html>