<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Servicios</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}
    <!--Servicios -->
    <section>
        <div>
            <div class="flex items-center w-56 ml-11 mt-[40px]">
                <hr class="  flex-1 border-t-2 border-black mr-4">
                <p class="font-bold">BENEFICIOS</p>
            </div>
        </div>

        <div class="flex justify-around">
            <div class="w-[496px] self-center ">
                <h1 class=" pb-5 text-6xl font-bold"> Nuestra meta es ayudarte tanto como podamos.</h1>
                <p class="pb-5">Estos son algunos de los servicios que ofrecemos. Infórmate más a fondo sobre ellos.</p>
                <button class="bg-CH hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Infórmate sobre nosotros
                </button>
            </div>

            <div class="flex flex-col justify-center w-[592px] rounded-lg bg-CH">
                <div class="flex p-5">
                    <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios1.png" alt="">
                    <div class="self-center pl-[10px]">
                        <p class="text-white font-bold">Plan de recompensas 2023</p>
                        <P class="text-GR">¡Cumplir te genera puntos y tus puntos te hacen ganar premios!</P>
                    </div>
                </div>
                <div class="flex p-5">
                    <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios2.png" alt="">
                    <div class="self-center pl-[10px]">
                        <p class="text-white font-bold">Pago adelantado</p>
                        <P class="text-GR">Puedes adelantar el pago de tu abono en tres sencillos pasos.</P>
                    </div>
                </div>
                <div class="flex p-5">
                    <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios3.png" alt="">
                    <div class="self-center pl-[10px]">
                        <p class="text-white font-bold">Servicios funerarios</p>
                        <P class="text-GR">Te recordamos que cuentas con un Apoyo Funerario hasta por la cantidad de
                            $15,000.00, incluyendo el I.V.A.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Segunda parte de servicios -->
    <section class="flex items-center justify-center mt-10">
        <div class="flex bg-CH w-[1184px] rounded-lg">
            <div class="flex flex-col items-center justify-center">
                <div class="flex p-4">
                    <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios4.png" alt="">
                    <div class="self-center pl-[10px]">
                        <p class="text-white font-bold">Apoyo a socios de la tercera edad.</p>
                        <P class="text-GR">Ahora con Caja Hipódromo, los Socios de la tercera edad, a partir de los 60 años podrán tramitar un apoyo económico.</P>
                    </div>
                </div>
                <div class=" flex p-4">
                    <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios5.png" alt="">
                    <div class="self-center pl-[10px]">
                        <p class="text-white font-bold">Protecciones</p>
                        <P class="text-GR">Tanto para el ahorro como para sus créditos, Caja Hipódromo brinda a sus Socios estos beneficios adicionales que consisten en...</P>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center">
                <div class=" flex p-4">
                    <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios6.png" alt="">
                    <div class="self-center pl-[10px]">
                        <p class="text-white font-bold">Programa promesa</p>
                        <P class="text-GR">Dentro de este programa se brinda el beneficio de que nuestra Sociedad Cooperativa otorga el 50% de la Parte Social.</P>
                    </div>
                </div>
                <div class=" flex p-4">
                    <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios7.png" alt="">
                    <div class="self-center pl-[10px]">
                        <p class="text-white font-bold">Bolsa de trabajo</p>
                        <P class="text-GR">Forma parte del equipo de Caja Hipódromo. Envía tu solicitud ahora.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Noticias 
    <section class="mt-10">
        <div class="text-center pb-5">
            <h1 class="text-5xl font-bold pb-5">Lee nuestras noticas más recientes</h1>
            <div class="flex items-center justify-center">
            <h2 class="w-[450px] text-[#525560]">Lo más reciente del boletín informativo  de Caja Hipódromo aparece aquí. Échale un ojo de vez en cuando.</h2>
            </div>
        </div>

    
        <div class="flex justify-center space-x-40 pl-[25px]">
            <div class="pl-10">
                <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios8.png" alt="">
                <p class="font-bold">Continuamos 2023</p>
                <P class="text-[#525560] w-[290px]">Iniciamos este 2023 enteramente convencidos de que estará lleno de...</P>
            </div>
            <div>
                <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios9.png" alt="">
                <p class="font-bold">Feliz dia de San Valentín</p>
                <P class="text-[#525560] w-[290px]">De parte de la familia Hipódromo les deseamos todo el amor del mundo...</P>
            </div>
            <div>
                <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios10.png" alt="">
                <p class="font-bold">Asamble Anual 2023</p>
                <P class="text-[#525560] w-[290px]">Se llevó acabo la asamblea anual ordinaria que tuvo como resultado...</P>
            </div>
            <div class="pr-10">
                <img class="mb-3 rounded-lg" src="/images/Servicios/Servicios11.png" alt="">
                <p class="font-bold">Conoce nuestra nueva imagen</p>
                <P class="text-[#525560] w-[290px]">Caja Hipódromo cambia por ti. Para que tengas la mejor de las experiencias...</P>
            </div>
        </div>

    </section>
-->

    <section class="bg-CH font-Roboto mt-10">
        <div class="flex justify-center">
            <h1 class="text-4xl text-white mt-5 font-bold">Beneficios</h1>
        </div>

        <div class="grid grid-cols-3 gap-4 justify-center items-center mr-[100px] ml-[100px] ">
            <!-- Elemento 1 -->
            <div class="p-4 flex items-center">
                <div class=" w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/clasificacion" class="text-xl text-white font-semibold">Calificación de Socios</a>
                    <p class="text-GR">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit
                        possimus facilis porro ipsa vel expedita harum pariatur illo. Veritatis suscipit cumque voluptas
                        ratione atque, neque nemo animi possimus beatae.</p>
                </div>
            </div>

            <!-- Elemento 2 -->
            <div class="p-4 flex items-center">
                <div class=" w-[40px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                  
                    <a href="/recompensas" class="text-xl text-white font-semibold">Plan de Recompensas</a>
                    <p class="text-GR ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                        enim in eros.</p>
                </div>
            </div>

            <!-- Elemento 3 -->
            <div class="p-4 flex items-center">
                <div class="w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                    <a href="/pagoadelantado" class="text-xl text-white font-semibold">Pago Adelantado</a>
                    <p class="text-GR">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit
                        possimus facilis porro ipsa vel expedita harum pariatur illo. Veritatis suscipit cumque voluptas
                        ratione atque, neque nemo animi possimus beatae.</p>
                </div>
            </div>

            <!-- Elemento 4 -->
            <div class="p-4 flex items-center">
                <div class=" w-[40px] mr-4 mb-[35px]">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/terceraedad" class="text-xl text-white font-semibold">Apoyo a socios de la tercera edad</a>
                    <p class="text-GR ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                        enim in eros.</p>
                </div>
            </div>
            <!-- Elemento 5 -->
            <div class="p-4 flex items-center mb-[35px]">
                <div class=" w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                    <a href="/progpromesa" class="text-xl text-white font-semibold">Programa Promesa</a>
                    <p class="text-GR">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit
                        possimus facilis porro ipsa vel expedita harum pariatur illo. Veritatis suscipit cumque voluptas
                        ratione atque, neque nemo animi possimus beatae.</p>
                </div>
            </div>

            <!-- Elemento 6-->
            <div class="p-4 flex items-center mb-[35px]">
                <div class=" w-[40px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/apoyodiscapacitados" class="text-xl text-white font-semibold"> Apoyo a socios y ahorradores menores con discapacidad</a>
                    <p class="text-GR ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                        enim in eros.</p>
                </div>
            </div>

            <!-- Elemento 7 -->
            <div class="p-4 flex items-center">
                <div class=" w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/protecciones" class="text-xl text-white font-semibold">Protecciones</a>
                    <p class="text-GR">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit
                        possimus facilis porro ipsa vel expedita harum pariatur illo. Veritatis suscipit cumque voluptas
                        ratione atque, neque nemo animi possimus beatae.</p>
                </div>
            </div>

            <!-- Elemento 8 -->
            <div class="p-4 flex items-center">
                <div class=" w-[40px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                  
                    <a href="/fondoproteccion" class="text-xl text-white font-semibold"> Fondo de Protección</a>
                    <p class="text-GR ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                        enim in eros.</p>
                </div>
            </div>

            <!-- Elemento 9 -->
            <div class="p-4 flex items-center">
                <div class="w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                    <a href="/luna" class="text-xl text-white font-semibold">Uso del Recreativo La Luna</a>
                    <p class="text-GR">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit
                        possimus facilis porro ipsa vel expedita harum pariatur illo. Veritatis suscipit cumque voluptas
                        ratione atque, neque nemo animi possimus beatae.</p>
                </div>
            </div>

            <!-- Elemento 10 -->
            <div class="p-4 flex items-center">
                <div class=" w-[40px] mr-4 mb-[35px]">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/bolsatrabajo" class="text-xl text-white font-semibold">Bolsa de Trabajo</a>
                    <p class="text-GR ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                        enim in eros.</p>
                </div>
            </div>
            <!-- Elemento 11 -->
            <div class="p-4 flex items-center mb-[35px]">
                <div class=" w-[100px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save2.png" alt="Icono 2">
                </div>
                <div>
                    <a href="/API" class="text-xl text-white font-semibold">Solicitud a la API</a>
                    <p class="text-GR">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit
                        possimus facilis porro ipsa vel expedita harum pariatur illo. Veritatis suscipit cumque voluptas
                        ratione atque, neque nemo animi possimus beatae.</p>
                </div>
            </div>

            <!-- Elemento 12-->
            <div class="p-4 flex items-center mb-[35px]">
                <div class=" w-[40px] mr-4">
                    <!-- Espacio para el icono (reemplaza con tu imagen) -->
                    <img src="/images/Ahorro/Iconos/Save1.png" alt="Icono 1">
                </div>
                <div>
                    <a href="/apoyofunerario" class="text-xl text-white font-semibold">Apoyo funerario</a>
                    <p class="text-GR ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
                        enim in eros.</p>
                </div>
            </div>

        </div>
    </section>

    <section class="mt-10 mb-10">
        <div class="pl-[120px]">
            <h1 class="text-4xl">Proximos eventos</h1>
        </div>

        <div class="flex justify-center space-x-20 pt-10">
            <img src="/images/Servicios/Event.png" alt="">
            <img src="/images/Servicios/Event-1.png" alt="">
        </div>
    </section>

    {{>footer}}

</body>

</html>