<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>PROGRAMA DE APOYO A SOCIOS DE LA TERCERA EDAD</title>
</head>

<body class="font-Roboto" style="zoom: 0.8;">
    {{>header}}

    <!-- Sección imagen-->
    <section>
        <div class="flex justify-center">
            <img src="/images/AhorroH/AhorroH.png" alt="ahorrojr">
        </div>
    </section>

    <!-- Sección Cuenta Junior Hipódromo -->

    <section class="mt-5">
        <div class="flex justify-center">
            <div class="flex justify-between">
                <div class="w-[760px]">
                    <h1 class="text-[50px] font-bold">PROGRAMA DE APOYO A SOCIOS DE LA TERCERA EDAD</h1>
                    <p class="pt-[50px]">Ahora con Caja Hipódromo, los Socios de la tercera edad, a partir de los 60
                        años, podrán tramitar un apoyo económico para la adquisición de medicamentos o implementos
                        ortopédicos, hasta por un monto de $1,700.00 (Para bienestar y uso personal del Socio
                        solicitante).</p>
                </div>
                <div>
                    <img src="/images/AhorroH/Pareja.png" alt="Pareja viendo una tablet">
                </div>
            </div>
        </div>
    </section>

    <!-- Sección Ganancias Anual -->
    <section class="mt-5">
        <div class="flex justify-center text-center">
            <h1 class="w-[633px] mx-auto font-bold text-[50px]">Apoyo a Socios de la Tercera Edad</h1>
        </div>
    </section>

    <!-- Sección Información-->
    <section class="mt-5">
        <div class="flex justify-center items-center">
            <div class="flex items-center w-[150px] mr-[1260px]">
                <div class="border-t border-black flex-grow"></div>
                <div class="ml-4">
                    <h1 class="font-bold">Requisitos</h1>
                </div>
            </div>
        </div>

    </section>

    <section>
        <!-- Primera sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2 justify-center mx-auto">
                <!-- Elemento 1 -->
                <div class="p-4 flex justify-center  ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/iconos/icono1.png" alt="Icono 1">
                    </div>

                    <div class="text-[#525560]">
                        <h2 class="text-xl text-black font-semibold">Ser Socio de la cooperativa con una antigüedad
                            mínima de 24 meses.</h2>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex self-start">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/iconos/icono2.png" alt="Icono 2">
                    </div>
                    <div>
                        <div class="text-[#525560]">
                            <h2 class="text-xl text-black font-semibold ">Contar con una edad mínima de 60 años
                                cumplidos.</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Segunda sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2 justify-center mx-auto ">
                <!-- Elemento 1 -->
                <div class="p-4 flex pr-[279px] ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/iconos/icono3.png" alt="Icono 1">
                    </div>

                    <div class="text-[#525560]">
                        <h2 class="text-xl text-black font-semibold">Deberá tener su expediente actualizado.
                        </h2>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex flex-col self-start w-[624px]">
                    <div class="  flex self-start">
                        <img class="pr-[15px]" src="/images/iconos/icono4.png" alt="Icono 2">
                        <h2 class="text-xl text-black font-semibold ">Los socios deberán cumplir con
                            las siguientes obligaciones.</h2>
                    </div>
                    <div>
                        <div class="text-[#525560] w-[588px]">
                            <li>Buen cumplimiento en ahorro durante los últimos 12 meses (no más del 50%
                                de fallas en el ahorro, considerando un ahorro mínimo de $50.00
                                mensuales), los retiros parciales, no deberán de exceder del 50% de los
                                ahorros que se tenían seis meses atrás a partir de la fecha de la
                                solicitud del apoyo.</li>
                            <li>Estar al corriente en sus obligaciones con la Sociedad</li>
                            <li>No haber estado en cartera vencida en los últimos 12 meses.</li>
                            <li>En los casos en que la cuenta tenga registro de haber estado en cartera
                                vencida por por vencimiento de plazo, se considerará como aceptable un
                                máximo de 3 días después de la fecha de vencimiento para el otorgamiento
                                del apoyo.</li>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <!-- Tercera sección-->
        <div class="flex justify-center">
            <div class="grid grid-cols-2 justify-center mx-auto ">
                <!-- Elemento 1 -->
                <div class="p-4 flex pl-[260px]  ">
                    <div class=" w-[50px] flex self-start">
                        <img src="/images/iconos/icono5.png" alt="Icono 1">
                    </div>

                    <div class="text-[#525560]">
                        <h2 class="text-xl text-black font-semibold w-[559px]">Llenar la Solicitud de
                            otorgamiento del apoyo correspondiente, que proporcionará el Comité de
                            Equidad de Género y entregarla en Oficina Matriz, Corporativo y/o
                            Sucursal (Local y/o Foránea).
                        </h2>
                    </div>
                </div>
                <!-- Elemento 2 -->
                <div class="p-4 flex flex-col self-start">
                    <div class="flex self-start">
                        <img class="pr-[15px]" src="/images/iconos/icono6.png" alt="Icono 2">
                        <h2 class="text-xl text-black font-semibold ">Presentar en original
                            y copia la siguiente documentación:</h2>
                    </div>
                    <div>
                        <div class="text-[#525560]">
                            <li> Credencial de Socio(en caso de contar con ella).</li>
                            <li>Identificación Oficial Vigente (IFE/INE, Pasaporte, INAPAM).
                            </li>
                            <li>Validación de IFE/INE en su caso.</li>
                            <li>Comprobante de Ingresos reciente (no mayor a un mes de
                                antigüedad).</li>
                            <li>Receta médica con el nombre del Socio como paciente y con una
                                antigüedad no mayor a tres meses (copia). En recetas expedidas
                                por instituciones de salud (IMSS e ISSSTE) serán válidas
                                aquellas que cuenten con sello de medicamento pendiente.</li>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>

    <section class="mt-20">
        <div class="flex  justify-center mb-20  ">
            <img src="/images/Beneficios/terceraedad.png" alt="">
        </div>
    </section>

    {{>footer}}

</body>

</html>