<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Document</title>
</head>

<body>
<div class="w-[1504px] h-[2626px] relative bg-white">
    <div class="w-[1500px] h-[402px] left-[-6552px] top-[3435px] absolute">
        <div class="w-[1500px] h-[402px] left-0 top-0 absolute bg-rose-800"></div>
        <div class="h-[226px] left-[750px] top-[80px] absolute">
            <div class="w-[546.50px] h-16 left-0 top-[162px] absolute">
                <div class="w-[141px] h-16 px-8 py-4 left-[405.50px] top-0 absolute bg-white rounded backdrop-blur-[80px] justify-center items-center gap-2.5 inline-flex">
                    <div class="text-right text-gray-800 text-base font-medium font-['Roboto']">Suscribete</div>
                </div>
                <div class="w-[456px] h-16 left-0 top-0 absolute rounded border border-indigo-50 border-opacity-30"></div>
                <div class="left-[24px] top-[22px] absolute opacity-80 text-indigo-50 text-opacity-30 text-base font-normal font-['Roboto']">Tu correo</div>
            </div>
            <div class="w-[616px] left-0 top-0 absolute text-white text-[40px] font-bold font-['Roboto'] leading-[56px]">Suscribete para recibir noticias de Caja Hipodrómo</div>
        </div>
        <div class="w-[412px] h-[210px] left-[82px] top-[96px] absolute">
            <div class="w-[71px] h-[210px] left-0 top-0 absolute">
                <div class="left-0 top-[188px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Asóciate</div>
                <div class="left-0 top-[142px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Crédito</div>
                <div class="left-0 top-[96px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Ahorro</div>
                <div class="left-0 top-[50px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Cónocenos</div>
                <div class="left-0 top-0 absolute text-white text-base font-bold font-['Roboto'] leading-relaxed">Inicio</div>
            </div>
            <div class="w-[52px] h-[210px] left-[162px] top-0 absolute">
                <div class="left-0 top-[188px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Noticias</div>
                <div class="left-0 top-[142px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Donate</div>
                <div class="left-0 top-[96px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Eventos</div>
                <div class="left-0 top-[50px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Apoyos</div>
                <div class="left-0 top-0 absolute text-white text-base font-bold font-['Roboto'] leading-relaxed">More</div>
            </div>
            <div class="w-[110px] h-[210px] left-[302px] top-0 absolute">
                <div class="left-0 top-[188px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Linkedin </div>
                <div class="left-0 top-[142px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Twitter</div>
                <div class="left-0 top-[96px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Instagram</div>
                <div class="left-0 top-[50px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Facebook</div>
                <div class="left-0 top-0 absolute text-white text-base font-bold font-['Roboto'] leading-relaxed">Redes Sociales </div>
            </div>
        </div>
    </div>
    <div class="w-6 h-[0px] left-[951px] top-[348px] absolute origin-top-left rotate-90 border border-black"></div>
    <div class="w-[1280px] h-[295px] left-[126px] top-[1844px] absolute">
        <div class="w-[628px] h-[191px] left-[652px] top-[104px] absolute">
            <div class="w-[628px] h-[191px] left-0 top-0 absolute bg-rose-800 rounded-lg"></div>
            <div class="w-[540px] h-[88px] left-[40px] top-[32px] absolute">
                <div class="w-14 h-14 left-[484px] top-[32px] absolute">
                    <div class="w-14 h-14 left-0 top-0 absolute bg-white rounded-full"></div>
                </div>
                <div class="w-[381px] h-[69px] left-[79px] top-[8px] absolute">
                    <div class="w-[381px] left-0 top-[27px] absolute text-white text-[28px] font-bold font-['Roboto'] leading-[42px]">Paseo canino Hipódromo</div>
                    <div class="origin-top-left rotate-90 w-[19px] h-[163px] left-[163px] top-0 absolute">
                        <div class="left-[-163px] top-0 absolute text-white text-base font-medium font-['Roboto'] uppercase tracking-widest">MIERCOLES</div>
                    </div>
                </div>
                <div class="w-[55px] h-[77px] left-0 top-0 absolute">
                    <div class="left-0 top-0 absolute text-white text-5xl font-medium font-['Roboto'] leading-[57.60px]">25</div>
                    <div class="left-0 top-[58px] absolute text-white text-base font-medium font-['Roboto'] uppercase tracking-widest">SEP</div>
                </div>
            </div>
        </div>
        <div class="w-[628px] h-[191px] left-0 top-[104px] absolute">
            <div class="w-[628px] h-[191px] left-0 top-0 absolute bg-rose-800 rounded-lg"></div>
            <div class="w-[540px] h-[88px] left-[40px] top-[32px] absolute">
                <div class="w-14 h-14 left-[484px] top-[32px] absolute">
                    <div class="w-14 h-14 left-0 top-0 absolute bg-white rounded-full"></div>
                </div>
                <div class="w-[381px] h-[69px] left-[79px] top-[8px] absolute">
                    <div class="w-[381px] left-0 top-[27px] absolute text-white text-[28px] font-bold font-['Roboto'] leading-[42px]">Convención popular</div>
                    <div class="origin-top-left rotate-90 w-[19px] h-[111.50px] left-[111.50px] top-0 absolute">
                        <div class="left-[-111.50px] top-0 absolute text-white text-base font-medium font-['Roboto'] uppercase tracking-widest">LUNES</div>
                    </div>
                </div>
                <div class="w-[55px] h-[77px] left-0 top-0 absolute">
                    <div class="left-0 top-0 absolute text-white text-5xl font-medium font-['Roboto'] leading-[57.60px]">23</div>
                    <div class="left-0 top-[58px] absolute text-white text-base font-medium font-['Roboto'] uppercase tracking-widest">SEP</div>
                </div>
            </div>
        </div>
        <div class="w-[1280px] h-14 left-0 top-0 absolute">
            <div class="w-[943px] h-[0px] left-[1280px] top-[28px] absolute origin-top-left rotate-180 border border-neutral-200"></div>
            <div class="w-[321px] left-0 top-0 absolute text-gray-800 text-[40px] font-medium font-['Roboto'] leading-[56px]">Próximos eventos</div>
        </div>
    </div>
    <div class="w-[1280px] h-[502px] left-[126px] top-[1256px] absolute">
        <div class="w-[1280px] h-[328px] left-0 top-[174px] absolute">
            <div class="w-[302px] h-[328px] left-[978px] top-0 absolute">
                <div class="w-[290px] left-0 top-[276px] absolute text-zinc-600 text-base font-normal font-['Roboto'] leading-relaxed">Caja Hipódromo cambia por ti. Para que tengas la mejor de las experiencias...</div>
                <div class="w-[290px] left-0 top-[208px] absolute text-gray-800 text-xl font-medium font-['Roboto'] leading-[30px]">Conoce nuestra nueva imagen</div>
                <img class="w-[302px] h-48 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/302x192" />
            </div>
            <div class="w-[302px] h-[328px] left-[652px] top-0 absolute">
                <div class="w-[290px] left-0 top-[276px] absolute text-zinc-600 text-base font-normal font-['Roboto'] leading-relaxed">Se llevó acabo la asamblea anual ordinaria que tuvo como resultado...</div>
                <div class="w-[290px] left-0 top-[208px] absolute text-gray-800 text-xl font-medium font-['Roboto'] leading-[30px]">Asamble Anual 2023</div>
                <img class="w-[302px] h-48 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/302x192" />
            </div>
            <div class="w-[302px] h-[328px] left-[326px] top-0 absolute">
                <div class="w-[290px] left-0 top-[276px] absolute text-zinc-600 text-base font-normal font-['Roboto'] leading-relaxed">De parte de la familia Hipódromo les deseamos todo el amor del mundo...</div>
                <div class="w-[302px] left-0 top-[208px] absolute text-gray-800 text-xl font-medium font-['Roboto'] leading-[30px]">Feliz dia de San Valentín</div>
                <img class="w-[302px] h-48 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/302x192" />
            </div>
            <div class="w-[302px] h-[328px] left-0 top-0 absolute">
                <div class="w-[290px] left-0 top-[276px] absolute text-zinc-600 text-base font-normal font-['Roboto'] leading-relaxed">Iniciamos este 2023 enteramente convencidos de que estará lleno de...</div>
                <div class="w-[290px] left-0 top-[208px] absolute text-gray-800 text-xl font-medium font-['Roboto'] leading-[30px]">Continuamos 2023</div>
                <img class="w-[302px] h-48 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/302x192" />
            </div>
        </div>
        <div class="w-[765px] h-[126px] left-[261px] top-0 absolute">
            <div class="left-0 top-0 absolute text-center text-gray-800 text-5xl font-bold font-['Roboto'] leading-[57.60px]">Lee nuestras noticas más recientes</div>
            <div class="w-[450px] left-[149px] top-[74px] absolute text-center text-zinc-600 text-base font-normal font-['Roboto'] leading-relaxed">Lo más reciente del boletín informativo  de Caja Hipódromo aparece aquí. Échale un ojo de vez en cuando.</div>
        </div>
    </div>
    <div class="w-[1500px] h-[1151px] left-[18px] top-[71px] absolute">
        <div class="w-[1500px] h-[1151px] left-0 top-0 absolute bg-white"></div>
        <div class="w-[1184px] h-[415px] left-[118px] top-[699px] absolute">
            <div class="w-[1184px] h-[415px] left-0 top-0 absolute bg-rose-800 rounded-xl"></div>
            <div class="w-[1094px] h-[365px] left-[34px] top-[26px] absolute">
                <div class="w-[512px] h-[166px] left-0 top-0 absolute">
                    <div class="w-[296px] h-[146px] left-[216px] top-[20px] absolute">
                        <div class="w-[296px] left-0 top-0 absolute text-white text-xl font-bold font-['Roboto'] leading-[30px]">Apoyo a socios de la tercera edad.</div>
                        <div class="w-[296px] left-0 top-[68px] absolute text-white text-base font-normal font-['Roboto'] leading-relaxed">Ahora con Caja Hipódromo, los Socios de la tercera edad, a partir de los 60 años podrán tramitar un apoyo económico.</div>
                    </div>
                    <img class="w-48 h-40 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/192x160" />
                </div>
                <div class="w-[512px] h-44 left-[582px] top-[8px] absolute">
                    <div class="w-[296px] h-[156px] left-[216px] top-[20px] absolute">
                        <div class="w-[296px] left-0 top-0 absolute text-white text-xl font-bold font-['Roboto'] leading-[30px]">Programa promesa</div>
                        <div class="w-[296px] left-0 top-[52px] absolute text-white text-base font-normal font-['Roboto'] leading-relaxed">Dentro de este programa se brinda el beneficio de que nuestra Sociedad Cooperativa otorga el 50% de la Parte Social.</div>
                    </div>
                    <img class="w-48 h-40 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/192x160" />
                </div>
                <div class="w-[512px] h-[166px] left-0 top-[199px] absolute">
                    <div class="w-[296px] h-[146px] left-[216px] top-[20px] absolute">
                        <div class="w-[296px] left-0 top-0 absolute text-white text-xl font-bold font-['Roboto'] leading-[30px]">Protecciones</div>
                        <div class="w-[296px] left-0 top-[42px] absolute text-white text-base font-normal font-['Roboto'] leading-relaxed">Tanto para el ahorro como para sus créditos, Caja Hipódromo brinda a sus Socios estos beneficios adicionales que consisten en...</div>
                    </div>
                    <img class="w-48 h-40 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/192x160" />
                </div>
                <div class="w-[512px] h-40 left-[582px] top-[199px] absolute">
                    <div class="w-[296px] h-[94px] left-[216px] top-[20px] absolute">
                        <div class="w-[296px] left-0 top-0 absolute text-white text-xl font-bold font-['Roboto'] leading-[30px]">Bolsa de trabajo</div>
                        <div class="w-[296px] left-0 top-[42px] absolute text-white text-base font-normal font-['Roboto'] leading-relaxed">Forma parte del equipo de Caja Hipódromo. Envía tu solicitud ahora.</div>
                    </div>
                    <img class="w-48 h-40 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/192x160" />
                </div>
            </div>
        </div>
        <div class="w-[592px] h-[576px] left-[710px] top-[93px] absolute">
            <div class="w-[592px] h-[576px] left-0 top-0 absolute bg-rose-800 rounded-xl"></div>
            <div class="w-[513px] h-[526px] left-[24px] top-[26px] absolute">
                <div class="w-[513px] h-[158px] left-0 top-0 absolute">
                    <div class="w-[297px] h-[94px] left-[216px] top-[18px] absolute">
                        <div class="w-[296px] left-0 top-0 absolute text-white text-xl font-bold font-['Roboto'] leading-[30px]">Plan de recompensas 2023</div>
                        <div class="w-[296px] left-[1px] top-[42px] absolute text-white text-base font-normal font-['Roboto'] leading-relaxed">¡Cumplir te genera puntos y tus puntos te hacen ganar premios!</div>
                    </div>
                    <img class="w-48 h-[158px] left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/192x158" />
                </div>
                <div class="w-[512px] h-40 left-0 top-[182px] absolute">
                    <div class="w-[296px] h-[92px] left-[216px] top-[20px] absolute">
                        <div class="w-[296px] left-0 top-0 absolute text-white text-xl font-bold font-['Roboto'] leading-[30px]">Pago adelantado</div>
                        <div class="w-[296px] left-0 top-[40px] absolute text-white text-base font-normal font-['Roboto'] leading-relaxed">Puedes adelantar el pago de tu abono en tres sencillos pasos.</div>
                    </div>
                    <img class="w-48 h-40 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/192x160" />
                </div>
                <div class="w-[512px] h-40 left-0 top-[366px] absolute">
                    <div class="w-[296px] h-[120px] left-[216px] top-[20px] absolute">
                        <div class="w-[296px] left-0 top-0 absolute text-white text-xl font-bold font-['Roboto'] leading-[30px]">Servicios funerarios</div>
                        <div class="w-[296px] left-0 top-[42px] absolute text-white text-base font-normal font-['Roboto'] leading-relaxed">Te recordamos que cuentas con un Apoyo Funerario hasta por la cantidad de $15,000.00, incluyendo el I.V.A.</div>
                    </div>
                    <img class="w-48 h-40 left-0 top-0 absolute rounded-lg" src="https://via.placeholder.com/192x160" />
                </div>
            </div>
        </div>
        <div class="w-[592px] h-[462px] left-[22px] top-[93px] absolute">
            <div class="w-[247px] h-[51px] px-8 py-4 left-[96px] top-[411px] absolute bg-rose-800 rounded backdrop-blur-[80px] justify-center items-center gap-2.5 inline-flex">
                <div class="text-right text-white text-base font-medium font-['Roboto']">Infórmate sobre nosotros</div>
            </div>
            <div class="w-[496px] left-[96px] top-[327px] absolute text-zinc-600 text-base font-normal font-['Roboto'] leading-relaxed">Estos son algunos de los servicios que ofrecemos. Infórmate más a fondo sobre ellos.</div>
            <div class="w-[496px] left-[96px] top-[110px] absolute text-gray-800 text-[56px] font-bold font-['Roboto'] leading-[67.20px]">Nuestra meta es ayudarte tanto como podamos.</div>
            <div class="origin-top-left -rotate-90 w-[19px] h-[193px] left-0 top-[19px] absolute">
                <div class="left-[96px] top-[-19px] absolute text-gray-800 text-base font-bold font-['Roboto'] uppercase tracking-widest">Servicios</div>
            </div>
        </div>
    </div>
    <div class="w-[1504px] h-[402px] left-0 top-[2224px] absolute">
        <div class="w-[1504px] h-[402px] left-0 top-0 absolute bg-rose-800"></div>
        <div class="h-[226px] left-[752px] top-[80px] absolute">
            <div class="w-[547.77px] h-16 left-0 top-[162px] absolute">
                <div class="w-[141px] h-16 px-8 py-4 left-[406.77px] top-0 absolute bg-white rounded backdrop-blur-[80px] justify-center items-center gap-2.5 inline-flex">
                    <div class="text-right text-gray-800 text-base font-medium font-['Roboto']">Suscribete</div>
                </div>
                <div class="w-[457.22px] h-16 left-0 top-0 absolute rounded border border-indigo-50 border-opacity-30"></div>
                <div class="left-[24.06px] top-[22px] absolute opacity-80 text-indigo-50 text-opacity-30 text-base font-normal font-['Roboto']">Tu correo</div>
            </div>
            <div class="w-[617.64px] left-0 top-0 absolute text-white text-[40px] font-bold font-['Roboto'] leading-[56px]">Suscribete para recibir noticias de Caja Hipodrómo</div>
        </div>
        <div class="w-[412.81px] h-[210px] left-[82.22px] top-[96px] absolute">
            <div class="w-[71px] h-[210px] left-0 top-0 absolute">
                <div class="left-0 top-[188px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Asóciate</div>
                <div class="left-0 top-[142px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Crédito</div>
                <div class="left-0 top-[96px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Ahorro</div>
                <div class="left-0 top-[50px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Cónocenos</div>
                <div class="left-0 top-0 absolute text-white text-base font-bold font-['Roboto'] leading-relaxed">Inicio</div>
            </div>
            <div class="w-[52px] h-[210px] left-[162.43px] top-0 absolute">
                <div class="left-0 top-[188px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Noticias</div>
                <div class="left-0 top-[142px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Donate</div>
                <div class="left-0 top-[96px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Eventos</div>
                <div class="left-0 top-[50px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Apoyos</div>
                <div class="left-0 top-0 absolute text-white text-base font-bold font-['Roboto'] leading-relaxed">More</div>
            </div>
            <div class="w-[110px] h-[210px] left-[302.81px] top-0 absolute">
                <div class="left-0 top-[188px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Linkedin </div>
                <div class="left-0 top-[142px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Twitter</div>
                <div class="left-0 top-[96px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Instagram</div>
                <div class="left-0 top-[50px] absolute opacity-80 text-white text-sm font-normal font-['Roboto'] leading-snug">Facebook</div>
                <div class="left-0 top-0 absolute text-white text-base font-bold font-['Roboto'] leading-relaxed">Redes Sociales </div>
            </div>
        </div>
    </div>
    <div class="w-[1504px] h-[126px] left-0 top-0 absolute rounded-[7px]">
        <div class="w-[1504px] h-[126px] left-0 top-0 absolute bg-rose-800"></div>
        <img class="w-[99.22px] h-[95px] left-[35.51px] top-[15px] absolute rounded-[47px]" src="https://via.placeholder.com/99x95" />
        <img class="w-[88.78px] h-[85px] left-[1374.87px] top-[21px] absolute rounded-full" src="https://via.placeholder.com/89x85" />
        <div class="w-[880.47px] h-[30px] left-[285.13px] top-[45px] absolute">
            <div class="w-[109px] h-[55px] left-[742px] top-[-8px] absolute">
                <div class="w-[109px] h-[55px] left-0 top-0 absolute bg-rose-800"></div>
                <div class="w-[89px] h-[30px] left-[12px] top-[8px] absolute text-white text-2xl font-normal font-['Poppins']">Review</div>
            </div>
            <div class="w-[119px] h-[55px] left-[612px] top-[-8px] absolute">
                <div class="w-[119px] h-[55px] left-0 top-0 absolute bg-rose-800"></div>
                <div class="w-[110px] h-[30px] left-[8px] top-[8px] absolute text-white text-2xl font-normal font-['Poppins']">Asóciate</div>
            </div>
            <div class="w-[126px] h-[55px] left-[478px] top-[-8px] absolute">
                <div class="w-[126px] h-[55px] left-0 top-0 absolute bg-rose-800"></div>
                <div class="w-[110px] h-[30px] left-[8px] top-[8px] absolute text-white text-2xl font-normal font-['Poppins']">Servicios</div>
            </div>
            <div class="w-[111px] h-[55px] left-[357px] top-[-8px] absolute">
                <div class="w-[111px] h-[55px] left-0 top-0 absolute bg-rose-800"></div>
                <div class="w-[94px] h-[30px] left-[11px] top-[8px] absolute text-white text-2xl font-normal font-['Poppins']">Crédito</div>
            </div>
            <div class="w-[110px] h-[55px] left-[245px] top-[-8px] absolute">
                <div class="w-[110px] h-[55px] left-0 top-0 absolute bg-rose-800"></div>
                <div class="w-[85px] h-[30px] left-[16px] top-[8px] absolute text-white text-2xl font-normal font-['Poppins']">Ahorro</div>
            </div>
            <div class="w-[90px] h-11 left-[-12px] top-[-5px] absolute">
                <div class="w-[90px] h-11 left-0 top-0 absolute bg-rose-800"></div>
                <div class="w-[69px] h-[30px] left-[12px] top-[5px] absolute text-white text-2xl font-normal font-['Poppins']">Inicio</div>
            </div>
            <div class="w-[167px] h-[55px] left-[78px] top-[-8px] absolute">
                <div class="w-[167px] h-[55px] left-0 top-0 absolute bg-rose-800"></div>
                <div class="w-[142px] h-[30px] left-[15px] top-[8px] absolute text-white text-2xl font-normal font-['Poppins']">Conócenos</div>
            </div>
        </div>
    </div>
</div>

</body>

</html>